<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="initial-scale=1.0, width=device-width" name="viewport" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS PRO - Digital PR Solution</title>

<!-- css -->

<link th:href="@{/resource/analytics/css/font-awesome.min.css}"
	rel="stylesheet" />
<!-- css for this project -->
<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet" />

<!-- styling in detail project  -->
<link th:href="@{/resource/analytics/css/fullcalendar.css}"
	rel="stylesheet" />
<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

<!-- css for date range picker  -->
	<link th:href="@{/resource/analytics/css/daterangepicker.css}" rel="stylesheet"/>
	
<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style type="text/css">
.cp-color-picker {
	z-index: 41;
}
</style>

</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div
			class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="url_config_analytics">
		<a href="#" id="project_id" th:text="${project.id}"></a>
		<a href="#" id="startDates"></a>
		<a href="#" id="endDates"></a>
    </div>

	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>

	<div
		th:replace="analytics/fragment/analytics-sidebar :: analytics-sidebar">&nbsp;</div>

	<div
		th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>

	<div class="row">

		<div
			th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>

		<div class="content">

			<div id="inner-wrapper-shorter" class="container">
				<div class="row">
					<div class="col-sm-12 padding-less">
						<div class="content-head">
							<ul>
								<li><i class="fa fa-file-text-o icon-head"
									aria-hidden="true"></i></li>
								<li><h1>Custom automated report</h1></li>
							</ul>
						</div>
					</div>

					<section class="content-inner">
						<div class="col-sm-12 padding-less">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="card noshadow starter-page text-center"
									id="emailMarketing">
									<div class="">
										<div class="col-sm-2">
										</div>
										<div class="col-sm-8">
											<div class="date-range-picker">
												<h5>Pick your report date range</h5>
												<div class="input-group top-space">
												<input type="text" class="form-control date_pick" name="daterange" />
												<span class="input-group-addon bg-custom b-0"><i class="fa fa-calendar text-white" aria-hidden="true"></i></span>
												</div>
											</div>
			                            </div>
			                            <div class="col-sm-2">
			                            </div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	<div th:replace="automated-report/fragment/modal-automated-schedule :: modal-automated-schedule"></div>
	<div th:replace="automated-report/fragment/modal-automated-styling :: modal-automated-styling"></div>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>

	<!-- Date Range Picker Plugin -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script th:src="@{/resource/analytics/js/daterangepicker.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function(){
			var idProject = [[${project.id}]];
			
			$('input[name="daterange"]').daterangepicker(
					{
					    locale: {
					      format: 'YYYY-MM-DD'
					    },
					    maxDate: moment()
					}, 
					function(start, end, label) {
					    startDate = start.format('YYYY-MM-DD');
					    endDate = end.format('YYYY-MM-DD');
			});
			
			$('.svg-animate').delay(500).show(0);
		
			$('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
				document.getElementById("project_id").value = project_id;
/* 				console.log('sasasas');
 */				document.getElementById("startDates").value = startDate;
/* 				console.log('sasasasssss');
 */				document.getElementById("endDates").value = endDate;
/* 				console.log('sasasaswqwqww');
 */		 		redirect = idProject+'/generate/report?start=' + startDate + '&end=' + endDate + '&limit=8&offset=0';
		 		window.location = '/project/'+redirect;
		 	});
		});
		/*]]>*/
	</script>
</body>
</html>