<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="initial-scale=1.0, width=device-width" name="viewport" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS PRO - Digital PR Solution</title>

<!-- css -->

<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
<!-- css for this project -->
<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet" />
<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

<!-- <link th:href="@{/resource/css/bootstrap-datepicker.min.css}" rel="stylesheet" /> -->
<link th:href="@{/resource/analytics/css/compatibility.css}"
	rel="stylesheet" />
	
<!-- css for date range picker  -->
<link th:href="@{/resource/analytics/css/daterangepicker.css}" rel="stylesheet"/>
<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<style type="text/css">
.cp-color-picker, .daterangepicker.dropdown-menu-daterangepicker {
	z-index: 41;
}
</style>

</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div
			class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>

	<div class="row">

		<div
			th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>

		<div class="content">

			<div id="inner-wrapper-shorter" class="container">
				<div class="row">
					<div class="col-sm-12 padding-less">
						<div class="content-head">
							<ul>
								<li><i class="fa fa-file-text-o icon-head"
									aria-hidden="true"></i></li>
								<li><h1>Automated report</h1></li>
							</ul>
							<a class="btn btn-general waves-effect" style="float:none; margin-bottom: 20px;" data-toggle="modal" href="#automatedSchedule">Generate custom report</a>
						</div>
					</div>

					<section class="content-inner">
						<div class="col-sm-12 padding-less">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="card noshadow auto-height" id="reportConfig">
									<form method="post" name="saveSchedule" th:action="@{/project/save/ar/config}" enctype="multipart/form-data">
									<input type="hidden" name="id" th:value="${idProject}" />
									<div class="subMenu">
										<h4>Report recipient</h4>
										<div class="form-group">
											<label for="email">Email</label> 
											<input id="email" type="email" name="email" th:value="${ar.email} != null ? ${ar.email} : ${project.user.email}" />
										</div>
									</div>
									<div class="subMenu">
										<h4 style="padding-top: 30px">Schedule configuration</h4>
										<div class="form-group">
											<label for="day">Day</label>
											<select name="day">
												<option value="Mon" th:if="${ar.day} == 'Mon'"
													selected="selected">Monday</option>
												<option value="Mon" th:if="${ar.day} != 'Mon'">Monday</option>
												<option value="Tue" th:if="${ar.day} == 'Tue'"
													selected="selected">Tuesday</option>
												<option value="Tue" th:if="${ar.day} != 'Tue'">Tuesday</option>
												<option value="Wed" th:if="${ar.day} == 'Wed'"
													selected="selected">Wednesday</option>
												<option value="Wed" th:if="${ar.day} != 'Wed'">Wednesday</option>
												<option value="Thu" th:if="${ar.day} == 'Thu'"
													selected="selected">Thursday</option>
												<option value="Thu" th:if="${ar.day} != 'Thu'">Thursday</option>
												<option value="Fri" th:if="${ar.day} == 'Fri'"
													selected="selected">Friday</option>
												<option value="Fri" th:if="${ar.day} != 'Fri'">Friday</option>
												<option value="Sat" th:if="${ar.day} == 'Sat'"
													selected="selected">Saturday</option>
												<option value="Sat" th:if="${ar.day} != 'Sat'">Saturday</option>
												<option value="Sun" th:if="${ar.day} == 'Sun'"
													selected="selected">Sunday</option>
												<option value="Sun" th:if="${ar.day} != 'Sun'">Sunday</option>
											</select>
										</div>
										<div class="form-group">
											<label for="hour">Time</label>
											<select name="hour">
												<option th:value="${ar.hour}" selected="selected">[[${ar.hour}]]:00</option>
												<option value="1">01:00</option>
												<option value="2">02:00</option>
												<option value="3">03:00</option>
												<option value="4">04:00</option>
												<option value="5">05:00</option>
												<option value="6">06:00</option>
												<option value="7">07:00</option>
												<option value="8">08:00</option>
												<option value="9">09:00</option>
												<option value="10">10:00</option>
												<option value="11">11:00</option>
												<option value="12">12:00</option>
												<option value="13">13:00</option>
												<option value="14">14:00</option>
												<option value="15">15:00</option>
												<option value="16">16:00</option>
												<option value="17">17:00</option>
												<option value="18">18:00</option>
												<option value="19">19:00</option>
												<option value="20">20:00</option>
												<option value="21">21:00</option>
												<option value="22">22:00</option>
												<option value="23">23:00</option>
												<option value="24">24:00</option>
											</select>
										</div>
									</div>
									<div class="subMenu">
										<h4 style="padding-top: 30px">Styling configuration</h4>
										<div class="form-group">
											<label for="reportType">Report format</label>
											<select name="reportType">
												<option value=".pdf" th:if="${ar.reportType} == '.pdf'" selected="selected">pdf</option>
												<option value=".pdf" th:if="${ar.reportType} != '.pdf'">pdf</option>
												<option value=".pptx" th:if="${ar.reportType} == '.pptx'" selected="selected">pptx</option>
												<option value=".pptx" th:if="${ar.reportType} != '.pptx'">pptx</option>
											</select>
										</div>
										<img th:src="${ar.companyLogo} == null ? @{/resource/images/gnews-logo-mini-compress.png} : @{/images/logos/}+${ar.companyLogo}" width="300"/>
										<div class="form-group">
											<label for="companyLogo">Upload custom logo</label>
											<input name="image" id="companyLogo" type="file"/>
										</div>
									</div>
									<div class="text-right">
										<button type="submit" class="btn btn-general waves-effect" style="float:none;margin: 15px 40px;">Save</button>
									</div>
									</form>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	<div
		th:replace="automated-report/fragment/modal-automated-schedule :: modal-automated-schedule"></div>
	<div
		th:replace="automated-report/fragment/modal-automated-styling :: modal-automated-styling"></div>
	<!-- <div
		th:replace="analytics/fragment/modal-automatedmonth-schedule :: modal-automatedmonth-schedule"></div> -->
	

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>

	<!-- Color picker -->
	<script th:src="@{/resource/analytics/js/colors.js}"></script>
	<script th:src="@{/resource/analytics/js/jqColorPicker.js}"></script>
	
	<!-- Date Range Picker Plugin -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script th:src="@{/resource/analytics/js/daterangepicker.js}"></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/

		$('.color').colorPicker();
		
		jQuery(document).ready(function() {
			
			$('input[name="start"]').daterangepicker({
		        singleDatePicker: true,
		        showDropdowns: true,
		        locale: {
				      format: 'YYYY-MM-DD'
				    },
				    maxDate: moment()
		    }, 
		    function(start, end, label) {
		    	startDate = start.format('YYYY-MM-DD');
		    	console.log(startDate);
		    	$('input[name="end"]').daterangepicker({
					singleDatePicker: true,
			        showDropdowns: true,
			        locale: {
					      format: 'YYYY-MM-DD'
					    },
					    minDate: startDate,
					   maxDate: moment()
			    }, 
			    function(start, end, label) {
			    	endDate = start.format('YYYY-MM-DD');
			    	console.log(endDate);
			    });
		    });
			
		});
		
		/*]]>*/
	</script>
</body>
</html>