<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GNEWS Analytics - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta name="author" content="GNEWS.ID"/>
	<meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps"/>
	<meta property="og:title" content="GNEWS - Social Media News" />
	<meta property="og:url" content="http://GNEWS.ID" />
	<meta property="og:image" content="@{/resource/images/favicon.png}" />
	<meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta property="og:site_name" content="GNEWS.ID" />

	<link rel="icon" th:href="@{/resource/images/favicon.png}" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<!-- css -->
	<link rel="stylesheet" th:href="@{/resource/css/base.css}" />
	<link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
	<!-- css for this project -->
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />
	
	<!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" />
	
	 <!-- css for datatable styling -->
    <link rel="stylesheet" th:href="@{/resource/css/datatable-style.css}" />

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	


</head>

<body th:inline="text">

	<div th:replace="fragment/mc-navbar :: mc-navbar"></div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>
	
	<div id="mc-wrapper" class="">
		<div class="container order-detail">
			<div class="col-sm-12">
				<div class="content-head">
					<ul>
						<li><img th:src="@{/resource/images/ic_billing.png}"/></li>
						<li><h1>BILLING</h1></li>
						<li></li>
					</ul>
				</div>
				<div class="content-inner">
				<p>Below are list of projects that you have been created. Click to see detail payment.</p>
					<table id="project-list" class="table table-striped table-bordered dt-responsive nowrap" >
	                        <thead>
	                            <tr>
	                                <th>No</th>
	                                <th>Date</th>
	                                <th>Invoice Number</th>
	                                <th>Project Name</th>
	                                <th>Amount</th>
	                                <th>Paid</th>
	                                <th>Action</th>
	
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr th:each="project : ${payments}">
	                                <td class="count text-center"></td>
										<td th:text="${#calendars.format(project.project.createdAt,'dd MMMM yyyy')}"></td>
										<td th:text="${project.invoice}"></td>
										<td th:text="${project.project.name}"></td>
										<td th:text="${project.total}"></td>								
										<td th:if="${project.paid} == false" class="danger" th:text="UNPAID"></td>
										<td th:if="${project.paid} == true" th:text="PAID"></td>
										<td class="text-center">
											<a th:href="@{/billing/} + ${project.project.id}"> 
												<button th:if="${project.paid} == true" class="danger">Extend</button>
												<button th:if="${project.paid} == false" class="btn-activate waves-effect">ACTIVATE</button>
											</a>
										</td>
	                            </tr>
	                        </tbody>
	                   </table>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/landing-footer :: landing-footer"></div>
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<!-- js -->
	<script th:src="@{/resource/js/base.min.js}"></script>

	<!-- js for this project -->

	<script th:src="@{resource/js/project.js}"></script>
	<!-- Data Tables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>

    <script>
        /* Data Table */
        $.extend($.fn.dataTable.defaults, {
            responsive: true
        });

        $(document).ready(function() {
            $('#project-list').DataTable();

        });
	</script>


</body>
</html>

