<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>GNEWS Analytics - Social Media News</title>
<meta name="description"
	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
<meta name="author" content="GNEWS.ID" />
<meta property="og:title" content="GNEWS - Social Media News" />
<meta property="og:url" content="http://GNEWS.ID" />
<meta property="og:image"
	content="@{https://analytic.gnews.id/resource/images/favicon.png}" />
<meta property="og:description"
	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
<meta property="og:site_name" content="GNEWS.ID" />
<link rel="icon"
	href="https://analytic.gnews.id/resource/images/favicon.png" />

<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700'
	rel='stylesheet' type='text/css' />
<!-- css -->
<!-- <link rel="stylesheet" href="base.css" /> -->
<!-- css for this project -->
<!-- <link rel="stylesheet" th:href="project.css" /> -->

<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0"
	marginwidth="0"
	style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; color: #4a4a4a; margin: 0; padding: 0;">

	<table cellspacing="0" cellpadding="0" border="0" bgcolor="#f9f9f9"
		style="width: 100%; color: #4a4a4a;" align="center; ">
		<tr>
			<td></td>
			<td>
				<div class="content"
					style="max-width: 900px; margin: 25px auto; display: block;">
					<table bgcolor="#fff"
						style="width: 100%; border: 1px solid #D5D5D5; border-radius: 5px;">
						<tr>
							<td style="padding: 0 25px;"><img style="padding-top: 20px;"
								src="https://analytic.gnews.id/resource/images/logo_gnewspro-compress.png" />
								<div style="float: right;"><h3 class="collapse"
									style="font-weight: bold; color: #4a4a4a; font-size: 22px;">Inquiries Mail</h3></div>
							</td>
						</tr>
						<tr>
							<td style="padding: 0 25px;">
								<div style="border-top: 1px solid #9e9e9e; padding: 10px 0;"></div>
							</td>
						</tr>
						
						<tr>
							<td style="padding: 0px 0px 5px 25px; color: #4a4a4a;">
								Name : <span th:text="${name}"></span>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px 0px 5px 25px; color: #4a4a4a;">
								Email : <span th:text="${email}"></span>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px 0px 5px 25px; color: #4a4a4a;">
								Phone : <span th:text="${phone}"></span>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px 0px 5px 25px; color: #4a4a4a;">
								Company : <span th:text="${company}"></span>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px 0px 5px 25px; color: #4a4a4a;">
								Position : <span th:text="${position}"></span>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px 0px 5px 25px; color: #4a4a4a;">
								Industries : <span th:text="${industries}"></span>
							</td>
						</tr>
						<tr>
							<td style="padding: 0px 0px 5px 25px; color: #4a4a4a; margin-bottom: 20px;">
								Message : <span th:text="${message}"></span>
							</td>
						</tr>
						<tr>
							<td style="margin-bottom: 25px;">
								
							</td>
						</tr>
						
					</table>

					<table cellspacing="0" cellpadding="0" border="0"
						style="margin: 0 auto; width: 100%;" align="center">
						<tr>
							<td style="text-align: center; font-size: 12px; color: #9B9B9B;">
								<p style="margin: 20px 0 0 0;">This email was sent by GNEWS</p>
								<p style="margin: 0;">Jl. Kemang Selatan IX No. 1B Jakarta
									12730, Indonesia</p>
								<p style="margin: 0;"><a style="color: #00b8e6;" href="tel:+62 21 7179 6431">+62 21 7179 6431</a> - <a style="color: #00b8e6;" href="mailto:info@gnews.id">info@gnews.id</a></p>
								<p style="margin: 0;"><a style="color: #00b8e6;" href="https://twitter.com/gnewsapp">@gnewsapp</a> | <a style="color: #00b8e6;" href="http://www.gnews.id/">www.gnews.id</a></p>
							</td>
						</tr>
					</table>
				</div>
			</td>
			<td></td>
		</tr>
	</table>

</body>
</html>
