<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GNEWS Analytics - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta name="author" content="GNEWS.ID"/>
	<meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps"/>
	<meta property="og:title" content="GNEWS - Social Media News" />
	<meta property="og:url" content="http://GNEWS.ID" />
	<meta property="og:image" content="@{/resource/images/favicon.png}" />
	<meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta property="og:site_name" content="GNEWS.ID" />

	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<!-- css -->
	<link rel="stylesheet" th:href="@{/resource/css/base.css}" />
	<link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
	<!-- css for this project -->
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body th:inline="text">

	<div id="url_config">
		<a href="/api/promocode/promo_code" id="code_check"></a>
	</div>
	      		
	<div th:replace="fragment/mc-navbar :: mc-navbar"></div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div id="mc-wrapper" class="">
		<div class="container order-detail">
			<div class="col-sm-12">
				<div class="content-head">
					<ul>
						<li><img th:src="@{/resource/images/ic_billing.png}"/></li>
						<li><h1>Order Detail &amp; Payment</h1></li>
						<li></li>
					</ul>
				</div>
				<div class="content-inner">
					<div class="order-detail">
					<form method="post" th:action="@{/payment/order/save}" >
						<div class="col-sm-12">
							<p>Below is a project that you have created: </p>
							<input type="hidden" name="projectId" th:value="${project.id}" />
							<input th:if="${payment} != null" type="hidden" name="paymentId" th:value="${payment.id}" />
							<div class="col-sm-12 project-detail">
								<div class="col-sm-2" style="padding-left: 0;">
									<p>Created Date</p>
									<p>Project name</p>
									<p>Keyword</p>
									<p>Filter</p>
									<p>Language</p>
								</div>
								<div class="col-sm-10">
									<p name="createdAt" th:text="@{: &nbsp;}+${#dates.format(project.createdAt, 'dd/MM/yyyy HH:MM')}"/>
									<p name="projectName" th:text="@{: &nbsp;}+${project.name}"/>
									<p name="keyword" th:text="@{: &nbsp;}+${project.keyword}"/>
									<p name="filter" th:text="@{: &nbsp;}+${project.filter}"/>
									<p name="languange" th:text="@{: &nbsp;}+${#strings.setJoin(project.languages,', ')}"/>
								</div>
							</div>
							<p>Subscribe periode: </p>
							<!-- From this line  -->
							<select class="form-control" id="period" name="period">
								<option value="1">1 month</option>
								<option value="3">3 months</option>
								<option value="6">6 months</option>
								<option value="12">12 months</option>
							</select>
							
							<p>Promo code</p>					
							<input id="user_code" rel="popover" class="grey-box" type="text"  name="code" placeholder="Input Your Promo Code"/>
							<a id="checkPromo" class="btn btn-blue" style="margin-top:0;" onclick='doStuff();'>Check</a>
							<p>Total: </p>
							<p><strong id="total" th:text="${agentPrice}">0</strong></p>
							<button class="btn btn-blue waves-effect" type="submit">CONFIRM SUBSCRIPTION</button>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/landing-footer :: landing-footer"></div>
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	
	<!-- js -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script th:src="@{/resource/js/base.min.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/resource/js/bootstrap.min.js}"></script> -->
	<!-- js for this project -->

	<!-- <script th:src="@{resource/js/project.js}"></script> -->
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$( document ).ready(function() {
  		 var doneTypingInterval = 1000;
  		 	$('#period').change(function()
  		 	{
  		 		var period = document.getElementById("period").value;
  	    		document.getElementById("total").innerHTML= [[${agentPrice}]] * period;	
  	    	});
  		   
  	 	}); 
	    function doStuff() {
  		    check(document.getElementById("user_code").value);
  		}
		function check(promo){		
		$.ajax({			
			type: "GET",
			url: $("#code_check").attr('href').replace("promo_code", promo),				
	        success: function(data){ 
	        	console.log(data);
	        	if(data.status == "success"){
	        	var json = data.data.promocode;
	        	//var period = document.getElementById("period").value;
	        	var period = data.data.period;
	        	var price = data.data.price;
	        	var totalPrice = period * price;
	        	document.getElementById("total").innerHTML=totalPrice;
	        	var test = document.getElementById("period");
	        	if(period == 1){
	        		test.selectedIndex = 0;
	        	}else if(period == 3){
	        		test.selectedIndex = 1;
	        	}else if(period == 6){
	        		test.selectedIndex = 2;
	        	}else if(period == 12){
	        		test.selectedIndex = 3;	
	        	}
	        	$('#checkPromo').popover('destroy'); 
	       	   
	        	}else{
	        		$('#checkPromo').popover({html :'true', content:'<i class="fa fa-info-circle" style="color:red;"></i>&nbsp;&nbsp;This promocode is Not Valid',placement:'right', container: 'body'});
	        		$('#checkPromo').popover('show');	
	        	}		       	   
	        	}
	      });	
	    } 
    /*]]>*/
	</script>


</body>
</html>
