<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>GNEWS Analytics - Social Media News</title>
    <meta name="description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta name="author" content="GNEWS.ID"/>
	<meta name="keywords" content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps"/>
	<meta property="og:title" content="GNEWS - Social Media News" />
	<meta property="og:url" content="http://GNEWS.ID" />
	<meta property="og:image" content="@{/resource/images/favicon.png}" />
	<meta property="og:description" content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
	<meta property="og:site_name" content="GNEWS.ID" />

	<link rel="icon" th:href="@{/resource/images/favicon.png}" />

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<!-- css -->
	<link rel="stylesheet" th:href="@{/resource/css/base.css}" />
	<link rel="stylesheet" th:href="@{/resource/css/animate.css}" />
	<!-- css for this project -->
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

	<!-- ie -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body th:inline="text">

	<div th:replace="fragment/mc-navbar :: mc-navbar"></div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

<div id="mc-wrapper" class="">
	<div class="container order-detail">
	<form method="post" th:action="@{/payment/method/save}">
		<div class="col-sm-12">
			<div class="content-head">
				<ul>
					<li><img th:src="@{/resource/images/ic_billing.png}"/></li>
					<li><h1>Order Detail &amp; Payment</h1></li>
					<li></li>
				</ul>
			</div>
			<div class="content-inner">
				<div class="order-detail">
					<div class="col-sm-6">
						<p>Below is project that you have created: </p>
						<div class="col-sm-12 project-detail">
							<input type="hidden" name="paymentId" th:value="${payment.id}" />
							<div class="col-sm-4" style="padding-left: 0;">
								<p>Invoice No</p>
								<p>Created Date</p>
								<p>Project name</p>
								<p>Keyword</p>
								<p>Filter</p>
								<p>Language</p>
							</div>
							<div class="col-sm-8">
								<p>: &nbsp;<strong th:text="${payment.invoice}"></strong></p>
								<p name="createdAt" th:text="@{: &nbsp;}+${#dates.format(project.createdAt, 'dd/MM/yyyy HH:MM')}"/>
								<p name="projectName" th:text="@{: &nbsp;}+${project.name}"/>
								<p name="keyword" th:text="@{: &nbsp;}+${project.keyword}"/>
								<p name="filter" th:text="@{: &nbsp;}+${project.filter}"/>
								<p name="languange" th:text="@{: &nbsp;}+${#strings.setJoin(project.languages,', ')}"/>
							</div>
						</div>
						<p>Subscribe periode:</p>
						<p><span th:text="${payment.period}"></span> Month</p>
						<p>Total: </p>
						<p>IDR <strong th:text="${#numbers.formatInteger(payment.total,3,'POINT')}" > </strong></p>
					</div>
					<div class="col-sm-6">
						<p>Payment status</p>
						<div class="btn btn-danger">UNPAID</div>
						<p>Activate the project by complete the payment. Choose your payment method:</p>
						<div class="radio radio-inline">
							<label for="payment-method">
								<input id="payment-method" name="method" value="Bank Transfer" type="radio"/>Bank trasfer
							</label>
						</div>
						<div  class="radio radio-inline">
							<label for="payment-method">
								<input id="payment-method" name="method" value="Paypal" type="radio" checked="checked" />Paypal
							</label>
						</div>
						<br/>
						<div class="col-sm-12 bank-detail">
							<div class="col-sm-4">
								<img th:src="@{/resource/images/img_bank_bca.png}"/>
							</div>
							<div class="col-sm-8">
								<p>BCA</p>
								<p>PT. GNEWS MANDIRI TEKNOLOGI</p>
								<p>8722397478</p>
							</div>
						</div>
						<div class="col-sm-12 bank-detail">
							<div class="col-sm-4">
								<img th:src="@{/resource/images/img_bank_mandiri.png}"/>
							</div>
							<div class="col-sm-8">
								<p>MANDIRI</p>
								<p>PT. GNEWS MANDIRI TEKNOLOGI</p>
								<p>0875237784</p>
							</div>
						</div>
						<button type="submit" class="btn btn-blue waves-effect" >PROCESS PAYMENT</button>
					</div>
				</div>
			</div>
		</div>
		</form>
	</div>

</div>

	<div th:replace="fragment/landing-footer :: landing-footer"></div>
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	
	<!-- js -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script th:src="@{/resource/js/base.min.js}"></script>

	<!-- js for this project -->

	<script th:src="@{resource/js/project.js}"></script>


</body>
</html>
