<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<body>
	<div th:fragment="home-agent">
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container">

					<!-- Page-Title -->
					<div class="row">
						<div class="col-sm-12">
							<h4 class="page-title">Dashboard</h4>
							<p class="text-muted page-title-alt">Welcome to GNEWS
								PRO agent panel !</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-lg-3">
							<div class="widget-bg-color-icon card-box fadeInDown animated">
								<div class="bg-icon bg-icon-info pull-left">
									<i class="md md-account-child text-info"></i>
								</div>

								<div class="text-right">
									<h3 class="text-dark">
										<b class="counter" th:text="${recurrent}"></b>
									</h3>
									<h4>
										<p style="margin-left: 0;font-size: 17.2px;" class="text-muted">Total
											Recurrent Client</p>
									</h4>
								</div>


								<div class="clearfix"></div>
							</div>
						</div>

						<div class="col-md-6 col-lg-3">
							<div class="widget-bg-color-icon card-box">
								<div class="bg-icon bg-icon-pink pull-left">
									<i class="glyphicon glyphicon-barcode text-pink"></i>
								</div>
								<div class="text-right">
									<h3 class="text-dark">
										<b class="counter" th:text="${codeGenerated}"></b>
									</h3>
									<h4>
										<p class="text-muted">Total Code Generated</p>
									</h4>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>

						<div class="col-md-6 col-lg-3">
							<div class="widget-bg-color-icon card-box">
								<div class="bg-icon bg-icon-purple pull-left">
									<i class="glyphicon glyphicon-qrcode text-purple"></i>
								</div>
								<div class="text-right">
									<h3 class="text-dark">
										<b class="counter" th:text="${codeSubmited}"></b>
									</h3>
									<h4>
										<p class="text-muted">Total Code Used</p>
									</h4>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>

						<div class="col-md-6 col-lg-3">
							<div class="widget-bg-color-icon card-box">
								<div class="bg-icon bg-icon-success pull-left">
									<i class="glyphicon glyphicon-eye-close text-success"></i>
								</div>
								<div class="text-right">
									<h3 class="text-dark">
										<b class="counter" th:text="${codeExpired}"></b>
									</h3>
									<h4>
										<p class="text-muted">Total Code Expired</p>
									</h4>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-lg-4">
							<div class="card-box">
								<h4 class="text-dark header-title m-t-0 m-b-30">Total
									Revenue</h4>

								<div class="widget-chart text-center">
									<input class="knob" data-width="150" data-height="150"
										data-linecap="round" data-fgColor="#fb6d9d"
										th:value="${project}" data-skin="tron" data-angleOffset="180"
										data-readOnly="true" data-thickness=".15" />
									<h5 class="text-muted m-t-20">Total Client Project</h5>
									<h2 class="font-600">[]</h2>
									<ul class="list-inline m-t-15">
										<li>
											<h5 class="text-muted m-t-20">Target</h5>
											<h4 class="m-b-0">[]</h4>
										</li>
										<li>
											<h5 class="text-muted m-t-20">Last week</h5>
											<h4 class="m-b-0">[]</h4>
										</li>
										<li>
											<h5 class="text-muted m-t-20">Last Month</h5>
											<h4 class="m-b-0">[]</h4>
										</li>
									</ul>
								</div>
							</div>

						</div>

						<div class="col-lg-8">
							<div class="card-box">
								<h4 class="text-dark header-title m-t-0">Sales Analytics</h4>
								<div class="text-center">
									<ul class="list-inline chart-detail-list">
										<li>
											<h5>
												<i class="fa fa-circle m-r-5" style="color: #5fbeaa;"></i>Desktops
											</h5>
										</li>
										<li>
											<h5>
												<i class="fa fa-circle m-r-5" style="color: #5d9cec;"></i>Tablets
											</h5>
										</li>
										<li>
											<h5>
												<i class="fa fa-circle m-r-5" style="color: #dcdcdc;"></i>Mobiles
											</h5>
										</li>
									</ul>
								</div>
								<div id="morris-bar-stacked" style="height: 303px;"></div>
							</div>
						</div>

					</div>
					<!-- end row -->

				</div>
				<!-- container -->

			</div>
			<!-- content -->

			<footer class="footer text-right"> 2016 © Gnews. </footer>

		</div>
	</div>
</body>
</html>