<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<body>
		<div th:fragment="navbar-panel-left">

<!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>

                        	<li class="text-muted menu-title">Navigation</li>

                            <li class="has_sub">
                                <a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/home') ? 'active':''}" th:href="@{/}" class="waves-effect"><i class="glyphicon glyphicon-home"></i> <span> Dashboard </span> </a>
                              
                            </li>

                            <li class="has_sub">
                                <a th:if="${sidebar == 'ROLE_ADMIN'}" th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/admin/user/all') ? 'active':''}" th:href="@{/admin/user/all}" class="waves-effect waves-light"><i class="md md-account-child"></i> <span> GNEWS PRO Users </span> </a>
                              
                            </li>
							<li class="has_sub">
                                <a href="#" class="waves-effect"><i class="ion-person-stalker"></i><span class="label label-primary pull-right"></span><span> Client </span> </a>
                                <ul class="list-unstyled">
                                    <li><a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/client/all') ? 'active':''}" th:href="@{/client/all}" >All Client</a></li>
                                    <li><a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/client/add') ? 'active':''}" th:href="@{/client/add}" >Add New Client</a></li>
                                </ul>
                            </li>
                            <li th:if="${sidebar == 'ROLE_ADMIN'}" class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-face-unlock"></i><span class="label label-primary pull-right"></span><span> Agent </span> </a>
                                <ul class="list-unstyled">
                                    <li><a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/admin/agent/all') ? 'active':''}" th:href="@{/admin/agent/all}" >All Agent</a></li>
                                    <li><a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/admin/agent/add') ? 'active':''}" th:href="@{/admin/agent/add}" >Add New Agent</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect waves-light"><i class="glyphicon glyphicon-barcode"></i> <span> Code </span> </a>
                                <ul class="list-unstyled">
	                                <li><a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/code/all') ? 'active':''}" th:href="@{/code/all}" >All Codes</a></li>
                                    <li><a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/code/add') ? 'active':''}" th:href="@{/code/add}" >Create New Code</a></li>
                                </ul>
                            </li>

                            <li class="has_sub">
                                <a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/project/all') ? 'active':''}" th:href="@{/project/all}" class="waves-effect"><i class="ti-pencil-alt"></i><span> Project Submission </span></a>                              
                            </li>
						
                         <li th:if="${sidebar} == 'ROLE_ADMIN'" class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-payment"></i><span>Billing </span></a>
                                <ul class="list-unstyled">
                                    <li><a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/admin/billing/all') ? 'active':''}" th:href="@{/admin/billing/all}" >All Billing</a></li>
                                    <li><a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/admin/billing/add') ? 'active':''}" th:href="@{/admin/billing/add}" >Create New Billing</a></li>
                                </ul>
                         </li>
						<li th:if="${sidebar} == 'ROLE_AGENT'" class="has_sub">
                                <a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/agent/billing/all') ? 'active':''}" href="#" class="waves-effect"><i class="md md-credit-card"></i><span>Billing </span></a>
                                <ul class="list-unstyled">
                                    <li><a th:href="@{/agent/billing/all}" href="change-password.html">Payment From Gnews</a></li>
                                </ul>
                         </li>
                            <li class="has_sub">
                                <a th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/setting/profile') ? 'active':''}" th:href="@{/setting/profile}" class="waves-effect"><i class="md md-settings"></i><span class="label label-pink pull-right"></span><span> Setting </span></a>
                                
                         </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Left Sidebar End -->
            </div>
            </body>
            </html>
