<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Analytics - Social Media News</title>

	<!-- css -->
	
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	
	<!-- styling in detail project  -->
	<link th:href="@{/resource/analytics/css/fullcalendar.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />
	<!-- css for date range picker  -->
	<link th:href="@{/resource/analytics/css/daterangepicker.css}" rel="stylesheet"/>
	
	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<style>
		.fc-head-container.fc-widget-header{
			background: whitesmoke;
			padding: 12px 0;
		}
		.fc-toolbar{
			margin-bottom: 0;
		}
		.daterangepicker.dropdown-menu-daterangepicker{
			z-index: 41;
		}
	</style>
		
</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <div id="url_config_analytics">
		<a href="#" class="hidden" id="startDates" th:text="${start}"></a>
		<a href="#" class="hidden" id="endDates" th:text="${end}"></a>
		<a href="#" class="hidden" id="projectID" th:text="${project.id}"></a>
		<a class="hidden" th:href="@{/api/report/}" id="apiReport"></a>
    </div>
	
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>

	<div class="row">
	
	<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>
	
	<div class="content">

		<div id="inner-wrapper-shorter" class="container">
			<div class="row">
				<div class="col-sm-12 padding-less">
					<div class="content-head">
					<ul>
						<li><i class="fa fa-calendar icon-head" aria-hidden="true"></i></li>
						<li><h1>Digital Clipping</h1></li>
					</ul>
					<a class="btn btn-general waves-effect" style="float:none; margin-bottom: 20px;" data-toggle="modal" href="#addPin">Add other news</a>
					</div>
					<section class="content-inner">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="el-loading" id="el-loading-5">
									<div class="el-loading-indicator">
										<div class="progress progress-position-absolute-top">
											<div class="progress-bar-indeterminate"></div>
										</div>
									</div>
									<div class="card noshadow" id="calendar">
									</div>
								</div>
							</div>
					</section>
					<section id="cards-wrapper" class="content-inner ">
						<div class="card noshadow">
							<div class="card-header">
								<div class="pull-left">
									<span class="currentTime"></span>
									<span style="color: #b7b7b7">Showing <b id="totalArticle"></b> news</span>
								</div>
							</div>
							<div id="grid">
								<div class="loader">Loading...</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<div class="scroll-top-wrapper hidden-xs">
		<span class="scroll-top-inner">
			<span class="icon">keyboard_arrow_up</span>
		</span>
	</div>
		
	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>
	<div th:replace="digital-clipping/fragment/modal-add-pin :: modal-add-pin"></div>
	<div th:replace="digital-clipping/fragment/modal-edit-clipping :: modal-edit-clipping"></div>
	<div th:replace="digital-clipping/fragment/modal-delete-clipping :: modal-delete-clipping"></div>	
	
	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	<script th:src="@{/resource/js/jquery.grid-a-licious.js}"></script>
	
	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/jquery.number.js}"></script> 
	
	<!-- Date Range Picker Plugin -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script th:src="@{/resource/analytics/js/daterangepicker.js}"></script>
	
	<!-- Full calendar Plugin -->
	<script th:src="@{/resource/analytics/js/fullcalendar.js}"></script>
	

	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(window).load(function() {
			$("#el-loading-5").addClass("el-loading-done");
			$("#el-loading-2").addClass("el-loading-done");
		});
	
		var startDate = '';
		var endDate = '';
		var day = '';
		var hour = '';		
		var loadedArticles = 0;
		var offset = 0;
		var currentDay = '';
		var varDate = '';
	
		if($('#startDates').text().length == 0) {
			startDate = moment().subtract(30, 'days').format('YYYY-MM-DD');
			endDate = moment().format('YYYY-MM-DD');			
			endDateUnix = moment().substract(1,endDate);
		} else {
			startDate = moment().subtract(30, 'days').format('YYYY-MM-DD');
			endDate = $('#endDates').text();
			endDateUnix =moment().subtract(1,endDate);
			term = $('#term').text();
		}
			
		var projectName = [[${project.name}]];
		var idProject = [[${project.id}]];
		var addrPeakDay = $('#apiReport').attr('href') + idProject + "/peak-day?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;
		var addrPeakDayById = $('#apiReport').attr('href') + idProject + "/peak-day/article?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate + "&limit=10" +  "&peakDay=" + day;
		var addrEditCard = $('#apiReport').attr('href') + idProject + "/get-single/article?accessToken=" +  $('#access_token').text();
		
		function loadArticles(term,count,start) {	
			loadedArticles = 0;
			$('#grid').html('');
	        	$(".currentTime").text(moment(term).format('dddd, DD MMM YYYY'));
	        	$("#totalArticle").text(count);
	        	currentDay = term; 
		   		loadNews (term, loadedArticles);		
        }
		
		function initClick(){
		$('.delete-news').click(function(){
    		var link = $(this).attr('name');
    		//console.log(link);
    		$('.delete-clipping').attr('href',link);
		  });
		$('.edit-news').click(function(){
    		var link = $(this).attr('name');
    		$.ajax({
    			type: "GET",
				url: addrEditCard + "&urlId="+ link,
				data: "",
				dataType: "json",
	   	       	cache: false,
	   	     	success:  function(json){
	   	     		var item = json.data;
	   	     		document.getElementById('newsLink').value=item.url;
	   	     		document.getElementById('newsTitle').value=item.title;
	   	     		document.getElementById('newsImage').value=item.image;
	   	     		document.getElementById('newsContent').value=item.content;
	   	     		varDate = moment.unix(item.date).format('YYYY-MM-DD HH:mm');
	   	     		document.getElementById('newsDate').value=varDate;
	   	     	
	   	     		console.log(item.title);
	   	     	}
    		});
    	  });
		}
		
		function loadNews (term, offset){
			$("#grid").gridalicious({ 
	  			  gutter: 15, 
	  			  width: 180, 
	  			  animate: true, 
	  			  animationOptions: { 
	  			    speed: 100, 
	  			    duration: 100
	  			  }, 
	  			});
			var content = [];
			var x = 0;
			$.ajax({
				type: "GET",
				url: addrPeakDayById + term + "&offset="+ offset,
				data: "",
				dataType: "json",
	   	       	cache: false,
			 	success:  function(json){
			 		var elems = '';
			 		$.each(json.data, function(){
			 			function setElement(json){
			 				var title = '';
			       		 	var host = '';
			       		    var img = '';
			       		    var favicon = '';
			       		    if(json.favicon == null){
			       		    	favicon = '/resource/images/img_media_default.png';
			       		    }else{
			       		    	favicon = json.favicon;
			       		    }
			       		 
			       		 	elems =
			       		 	'<div id="news-card" class="card">'+
							'<div class="card-main">'+
								'<div class="card-action" style="height: 30px;line-height: 20px;width: auto; overflow: hidden;">'+
									'<div class="card-header-side pull-left" style="padding-top: 15px;padding-bottom: 15px; padding-right:5px;">'+
										'<div class="avatar" style="width: 17px;height: 17px;border-radius:0;background-color: transparent;">'+
											'<img id="media" alt="" src="'+favicon+'" />'+
										'</div>'+
									'</div>'+
									'<div class="card-inner media" style="margin: 3px 11px;">'+
										'<span style="font-size: 13px;color: #4a4a4a;">&nbsp;'+json.host+'</span>'+
									'</div>'+
								'</div>'+
								'<div class="card-img waves-attach waves-effect">'+
									'<a href="http://gnews.id/article/read?url='+json.url+'" target="_blank"><img alt="" src="'+json.image+'"/></a>'+
								'</div>'+
								'<div class="card-action" style="height: 30px;border:none;">'+
									'<div class="card-inner" style="margin: 3px 11px;">'+
										'<a href="http://gnews.id/article/read?url='+json.url+'" target="_blank"><span style="font-size: 11px;color: #b7b7b7;">'+moment.unix(json.date).format('MMM DD, YYYY HH:mm')+'</span></a>'+
									'</div>'+
								'</div>'+
								'<div class="card-inner">'+
									'<p style="margin: 8px 0;">'+
										'<strong>'+
											'<a href="http://gnews.id/article/read?url='+json.url+'" target="_blank">'+json.title+'</a>'+
										'</strong>'+
										'<br/><a style="font-size: 10px;color: #808080;padding-top:7px;line-height:17px;" href="http://gnews.id/article/read?url='+json.url+'" target="_blank">'+json.content+'</a>'+
									'</p>'+
								'</div>'+
								'<div class="card-action">'+
									'<ul class="nav nav-list nav-justified" style="margin: 5px 0px;">'+
										'<li class="tooltip" title="edit news">'+
											'<a class="edit-news" name="'+json.url+'" type="'+json.title+'" img="'+json.image+'" ctn="'+json.content+'"  data-toggle="modal" href="#editNewsClipping">'+
											'<i class="fa fa-pencil-square-o" aria-hidden="true"></i>'+
											'</a>'+
										'</li>'+
										'<li class="tooltip" title="Delete News Clipping">'+
											'<a class="delete-news" name="/project/digital-clipping/delete?idProject='+ idProject +'&urlId='+json.url+'" data-toggle="modal" href="#modalDeleteClipping" style="cursor:pointer;">'+
												'<i class="fa fa-trash" aria-hidden="true"></i>'+
											'</a>'+
										'</li>'+
									'</ul>'+
								'</div>'+
							'</div>'+
						'</div>';
						return elems;
			 			}
			 			content.push($(setElement(this)));
			 		 });
			 		 $('#grid').gridalicious('append', content);
			 		 $('#grid').find('img').error(function(){	
		        		 $(this).attr("src", "/resource/images/default-preffered.png");
			         });
			 		},complete : function(){
			 			initClick();
			 		}
			 	});
			$('#grid').scrollPagination({
        	});
		}
		
		
		/*]]>*/
		</script>
		
		<script th:src="@{/resource/js/scrollpagination-digitalclipping.js}"></script>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
	
		           
		$(document).ready(function(){
        	var data;
        	
        	$('input[name="date"]').daterangepicker({
        		format: 'HH:mm',
        		timePicker : true,
        		timePicker24Hour: true,
		        singleDatePicker: true,
		        showDropdowns: true,
		        pick12HourFormat : false,
		        locale: {
				      format: 'YYYY-MM-DD HH:mm'
				    },
				    maxDate: moment()
		    }, 
		    function(start, end, label) {
		    	startDate = start.format('YYYY-MM-DD');
		    	console.log(startDate);
		    });
        	
        	 $('#calendar').fullCalendar({
        		monthNames: ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],
        		header: { 
 					left: 'title',
 					right: 'prev, next, today'
 				},
 				selectable : true,
 		        aspecRatio : 1,
 				editable: true,
 				defaultDate: endDate,
 			    events: function(start, end, timezone, callback) {
 			    	$.ajax({
 			    		type: "GET",
 					    url: addrPeakDay,
 					    data: '',
 					    success: function(json){
 					    	var events = [];
 					    	var i=0;
 					    	var yesterday = '';
 					    	$.each(json.data, function(i, item){
				    			events.push({
				    				term : item.id,
				    				title: item.value + " news",
				    				start: moment(item.id).format('YYYY-MM-DD'),
				    			});
				    			i++;
				    			if(moment(events[0].term) == endDateUnix){				    				
				    				loadArticles(events[0].term,events[0].title);
				    				currentDay = events[0].term;
				    			}
				    			
						    });
 					    	if(events.length > 0){
 					    		yesterday = events[0];
 					    		var yesterday_ = moment(yesterday.term).format("YYYY-MM-DD");
 	 					    	loadArticles(yesterday.term, yesterday.title, yesterday_);
 	 					    	currentDay = yesterday.term; 
 	 					    	callback(events);
 					    	}
 					    	data = json.data;
 					    }
 			    	});
 			    },
 			   eventClick: function(calEvent, jsEvent, view) {
 				   loadArticles(calEvent.term, calEvent.title);
 				   currentDay = calEvent.term;
 				   $('html, body').animate({
                       scrollTop: $("#grid").offset().top - 80
                   }, 500);
 			   },
 			   dayClick: function(date, jsEvent, view, resourceObj) {
				   var day = moment(date.set('hour', 0).format('YYYY-MM-DD HH:mm:ss')).valueOf();
 				   var title = '';
 				   var dayInMoment = moment(day).format("YYYY-MM-DD");
 				   var today = new Date();
 				   $.each(data, function(i, item){
		    			if(item.id == day){
		    				title = item.value;
		    			}
				    });
 				  loadArticles(day, title, dayInMoment);
				   currentDay = day;
				   $('html, body').animate({
                       scrollTop: $("#grid").offset().top - 80
                   }, 500);
			   },
 			   eventRender: function(event, element) {
 			   		
 			   }
 		   });
        	 
        	 function scrollToTop() {
        			verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
        			element = $('body');
        			offset = element.offset();
        			offsetTop = offset.top;
        			$('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
        		}
        	    
        	    $(function(){		 
        			$(document).on( 'scroll', function(){		 
        				if ($(window).scrollTop() > 300) {
        					$('.scroll-top-wrapper').addClass('show');;
        				} else {
        					$('.scroll-top-wrapper').removeClass('show');
        				}
        			});
        			$('.scroll-top-wrapper').on('click', scrollToTop);
        			$('.fa-chevron-up').on('click', scrollToTop);
        			$('.fade').addClass('animated fadeInUp');
        		});
        	    
		});
		
	/*]]>*/
	</script>
	
</body>
</html>