<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Analytics - Social Media News</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/project.css}" rel="stylesheet"/>

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body id="mobi">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="url_config_analytics">
		<a href="#" id="startDates" th:text="${start}"></a>
		<a href="#" id="endDates" th:text="${end}"></a>
		<a th:href="@{/api/report/}" id="apiReport"></a>
    </div>
	
	<!-- <div th:replace="analytics/mobile/fragment/analytics-navbar :: analytics-navbar-mobile">&nbsp;</div> -->
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-navbar-bottom :: analytics-navbar-bottom">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-header-mobile :: analytics-header-mobile">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>
	
	<div class="titleSection">
		<div class="titleContainer">
			<a class="waves-attach" href="javascript:void(0)">
				<img alt="title image" th:src="@{/resource/analytics/images/mobile/ic_keywordmapping_thumb.png}" />&nbsp;&nbsp;Keyword Mapping
			</a>
		</div>
	</div>
	
	<div class="content">
		
		<div th:replace="analytics/fragment/analytics-navbar-inner :: analytics-navbar-inner">&nbsp;</div>
	
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<section class="content-inner">
						<div class="tab-content">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="el-loading" id="el-loading-5">
									<div class="el-loading-indicator">
										<div class="progress progress-position-absolute-top">
											<div class="progress-bar-indeterminate"></div>
										</div>
									</div>
									<div class="card">
										<div class="card-main">
											<div class="card-inner">
												<div class="row">
													<div class="col-sm-12" id="canvas-container">
									                  <canvas id="keywords-mapping"></canvas>
									                </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	
	<!-- js -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	
	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>
	<script th:src="@{/resource/analytics/js/wordcloud2.js}"></script>
	<script th:src="@{/resource/analytics/js/jquery.number.js}"></script>
	<script th:src="@{/resource/analytics/js/moment-with-langs.js}"></script>

	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(window).load(function() {
			$("#el-loading-5").addClass("el-loading-done");
		});
		
		var startDate = '';
		var endDate = '';
	
		if($('#startDates').text().length == 0) {
			startDate = moment().subtract(7, 'days').format('YYYY-MM-DD');
			endDate = moment().format('YYYY-MM-DD');
		} else {
			startDate = $('#startDates').text();
			endDate = $('#endDates').text();
		}
		
		var projectName = [[${project.name}]];
		var idProject = [[${project.id}]];
		var addrMediaCount = $('#apiReport').attr('href') + idProject + "/media-count?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;  
		var addrArticleCount = $('#apiReport').attr('href') + idProject + "/article-count?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;
		var addrKeywordMapping = $('#apiReport').attr('href') + idProject + "/keyword-mapping?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;
		
		$('#dateBtn').click(function(){
			var startDates = moment($('#startDate').val()).format('YYYY-MM-DD');
			var endDates = moment($('#endDate').val()).format('YYYY-MM-DD');
			redirect = idProject + '/' + projectName + '?start=' + startDates + '&end=' + endDates;
			window.location = '/analytics/terms/'+redirect;
		});
		
		function articleCount(){
			$.ajax({
	   	      type: "GET",
		          url: addrArticleCount,                                
		          data: "",
		      	  dataType: "json",
		       	  cache: false,
		      	  beforeSend : function(){
		      		  
		      	  },
		          success : function(data){
		        	
		          },complete : function(data){   	        	
		        	var obj = JSON.parse(data.responseText);
		        	var values = ConvertNumber(obj.data,1);
		        	var valuesExpand =  $.number(obj.data);
			    	$('#detailProject .post').text(values);
			    	$('#detailProjectExpand .post').text(valuesExpand);
		          }
	   	   });
		}
		
		function mediaCount(){
	    	$.ajax({
	   	      type: "GET",
		          url: addrMediaCount,                                
		          data: "",
		      	  dataType: "json",
		       	  cache: false,
		      	  beforeSend : function(){
		      		  
		      	  },
		          success : function(data){
		        	
		          },complete : function(data){   	        	
		        	var obj = JSON.parse(data.responseText);
		        	var values = ConvertNumber(obj.data,1);
		        	var valuesExpand =  $.number(obj.data);
			    	$('#detailProject .contributor').text(values);
			    	$('#detailProjectExpand .contributor').text(valuesExpand);
		          }
	   	   });
		}
		
		// ALL TERM ACTIONS
		function allTermsByDate(container_place){
			$(container_place).html(' ');
		  	var list = [];
	      	var count = 10;
			$.ajax({
				 type: "GET",
			     url: addrKeywordMapping,
			     data: '',		     				     				         
		         beforeSend: function(){
		        		 
		         },
		         complete: function(){
		        	 
		         },
		         success: function(data){
		        	  values = data.data[0];
		        	  $.each(data.data, function(){
		              	 list.push([this.term, this.value]);
		        	  });
		        	  
		              var $canvas = $(container_place);
		              var width = $(container_place).parent().width();
		              var height =  width;            
		              $canvas.attr('width', width);
		              $canvas.attr('height', height); 		              
		              var options = {
		                list : list,
		                gridSize: Math.round(11 * $(container_place).width() / width),
		                weightFactor: function (size) {		                  		
		                	return Math.pow(size, 0.8) * $(container_place).width() / width;
		                },
		                fontFamily: '"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif',
		                color: '#000',		                
		                fontWeight : 'bold',   
		                rotateRatio: 0,
		                shape : 'square',
		                backgroundColor: 'transparent',
		                hover: window.drawBox,
		                click: function(item) {
		                	//searchKey(decodeURIComponent(item[0]), 0);
		                  	stateLoadInput = 5;
		                  	//searchKeyCSV(decodeURIComponent(item[0]));
		                },
		              };             
		             WordCloud($(container_place)[0], options);
		             list = [];
		         }
			});
					  
		}
		
		function ConvertNumber(n,d){
		   x=(''+n).length,
		   p=Math.pow,d=p(10,d)
		   x-=x%3
		   return Math.round(n*d/p(10,x))/d+" KMBTPE"[x/3]
		}
		
		$(document).ready(function(){      
			articleCount();
			mediaCount();
			allTermsByDate('#keywords-mapping');
			Highcharts.setOptions({
                global: {
                    timezoneOffset: -7 * 60
                }
            });     	
			$('.post').number();
        	$('#contributor').number();
        	
        	$('#endDate').val(moment(endDate).format('DD-MMM-YYYY'));
        	$('#startDate').val(moment(startDate).format('DD-MMM-YYYY'));
        	
        	$('#endDate').text(moment(endDate).format('DD/MM/YYYY'));
        	$('#startDate').text(moment(startDate).format('DD/MM/YYYY'));
        	
        	/* Expand Header */
        	$('#detailProjectExpand').hide();
        	$('#collapseBtn').hide();
        	$('#expandBtn').click(function(e) {
        		e.preventDefault();
        		$('#detailProject').hide();
        		$('#detailProjectExpand').fadeIn();
        		$('#collapseBtn').show();
        		$(this).hide();
        	});
        	$('#collapseBtn').click(function(e) {
        		e.preventDefault();
        		$('#detailProjectExpand').hide();
        		$('#detailProject').fadeIn();
        		$('#expandBtn').show();
        		$(this).hide();
        	});
		});
	/*]]>*/
	</script>
</body>
</html>