<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Analytics - Social Media News</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/project.css}" rel="stylesheet"/>

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body id="mobi">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="url_config_analytics">
		<a href="#" id="startDates" th:text="${start}"></a>
		<a href="#" id="endDates" th:text="${end}"></a>
		<a th:href="@{/api/report/}" id="apiReport"></a>
    </div>
	
	<div th:replace="analytics/fragment/analytics-navbar :: analytics-navbar">&nbsp;</div>
	
	<div th:replace="analytics/fragment/analytics-sidebar :: analytics-sidebar">&nbsp;</div>

	<div class="content">
		
		<div th:replace="analytics/fragment/analytics-header-archive :: analytics-header-archive">&nbsp;</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<section class="content-inner">
						
						<div th:replace="analytics/fragment/analytics-navbar-inner :: analytics-navbar-inner">&nbsp;</div>
						
						<div class="tab-content">
							
							<div class="tab-pane active fade in" id="tab-listnews">
								<div class="el-loading" id="el-loading-3">
									<div class="el-loading-indicator">
										<div class="progress progress-position-absolute-top">
											<div class="progress-bar-indeterminate"></div>
										</div>
									</div>
									<div class="card">
										<div class="card-main">

											<div class="card-inner" style="padding-left: 30px;padding-right: 30px;">
												<p class="card-heading neueStd" style="font-size:14px;color:#828080">List of news about&nbsp;<span style="color:#2196f3;font-weight:bold;text-transform:capitalize;" th:text="${name}">Lorem</span> | Date : Mon, 07/07/2015</p>
												<div class="row well demo well demo content4">
													<div class="col-sm-4 content-item" th:each="articles : ${articles} ">
														<p class="header-item">
															<a th:href="@{/article?url=}+${articles.url}" th:if="${articles.title.length() >= 65}" th:text="${articles.title.substring(0,65)}+'...'" target="_blank"></a>
															<a th:href="@{/article?url=}+${articles.url}" th:unless="${articles.title.length() >= 65}" th:text="${articles.title}" target="_blank"></a>
														</p>
														<p class="footer-item" style="font-size: 12px;margin-bottom: 0;">
															<a th:href="@{/article?url=}+${articles.url}" target="_blank">
																<span th:text="${articles.host}">www.bisnis-jabar.com</span>&nbsp;<span th:text="${articles.date}">15-02-2015&nbsp;10:06</span>
															</a>
														</p>
													</div>
												</div>
											</div>

											<div class="card-action">
												<div class="col-sm-7 col-sm-offset-3">
													<p class="demo demo4_bottom"></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<p style="font-size: 10px;">Copyright &copy;2015 www.gnews.io</p>
		</div>
	</footer>

	<!-- js -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	
	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>
	<script th:src="@{/resource/analytics/js/wordcloud2.js}"></script>
	<script th:src="@{/resource/analytics/js/jquery.number.js}"></script>
	<script th:src="@{/resource/analytics/js/moment-with-langs.js}"></script>
	
	<!-- Pagination -->
	<script th:src="@{/resource/analytics/js/jquery.bootpag.js}"></script>

	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(window).load(function() {
			$("#el-loading-3").addClass("el-loading-done");
		});
	
		var startDate = '';
		var endDate = '';
	
		if($('#startDates').text().length == 0) {
			startDate = moment().subtract(7, 'days').format('YYYY-MM-DD');
			endDate = moment().format('YYYY-MM-DD');
		} else {
			startDate = $('#startDates').text();
			endDate = $('#endDates').text();
		}
		
		var projectName = $('#project_name').text();
		var idProject = $('#project_id').text();
	
	/*]]>*/
	</script>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
        $('.demo4_bottom').bootpag({
            total: 5,
            page: 1,
            maxVisible: 5,
            leaps: true,
            firstLastUse: true,
            first: '<span aria-hidden="true">First</span>',
            last: '<span aria-hidden="true">Last</span>',
            wrapClass: 'pagination',
            activeClass: 'active',
            disabledClass: 'disabled',
            nextClass: 'next',
            prevClass: 'prev',
            lastClass: 'last',
            firstClass: 'first'
        }).on("page", function(event, num){
        	
        	/* function articleList() {
	      	      var content = [];	
	      	      var filter = [[${filter}]];
	      	      var addr = '';
	      	      addr = $("#recent_article").attr('href').replace("id_project", $('#project_id').text()).replace('token_access', $('#access_token').text());
	      	       
	                $.ajax({
	      				 type: "GET",
	      			     url: addr,
	      			     beforeSend : function(){
	      			    	 
	      			     },
	      		         success: function(json){
	      		        	 $.each(json.data, function(){			        		 			        		
	      							function setElement(json){     
	      								var title = '';
	      				       		 	var desc = '';
	      				       		 	var twitterUsername = '';
	      				       		 	var host = '';
	      				       		    var img = '';
	      				       		    var shared = '';
	      				       		    var id = $('#project_id').text();
	      				       		    var name = $('#project_name').text();
	      				       		    img = json.image;
	      				       		    host = json.host;
	      				       		    twitterUsername = json.twitterUsername;
	      				       		    
	      				       		    if(json.content.length >= 65){
	      				       			 	desc = json.content.substring(0,65)+'..';
	      				       		 	}else{
	      				       		 		desc = json.content;
	      				       		 	}		 	
	      				       		 	
	      								var elems = '<div class="col-sm-4 content-item" th:each="articles : ${articles} ">'+
										'<p class="header-item">'+
											'<a href="/article?url='+json.url+'" target="_blank">'+json.title+'</a>'+
										'</p>'+
										'<p class="footer-item" style="font-size: 12px;margin-bottom: 0;">'+
											'<a href="/article?url='+json.url+'" target="_blank">'+
												'<span>'+json.title+'</span><span>'+
												moment.unix(json.date).format('MMM DD, YYYY | H:mm') +
												'</span>'+
											'</a>'+
										'</p>'+
									'</div>';
	      								
	      								return elems;
	      							}
	      		        		 content.push($(setElement(this)));
	      		        	 });			        	 			        	 
	      		        	 
	      		        	 $this.gridalicious('append', content);
	      		        	 						         					        	
	      			     },	
	      			     complete : function(){	
	      			    	
	      			     },
	      			     failure: function(data) {
	      			    	
	      			     }					    		
	      	        });		                              
	      	  } */
	      	  
            $(".content4").html("Page " + num); // or some ajax content loading...
        }).find('.pagination');
	/*]]>*/
    </script>
</body>
</html>