<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Analytics - Social Media News</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/project.css}" rel="stylesheet"/>

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body id="mobi">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="url_config_analytics">
		<a href="#" id="startDates" th:text="${start}"></a>
		<a href="#" id="endDates" th:text="${end}"></a>
		<a th:href="@{/api/report/}" id="apiReport"></a>
    </div>
	
	<!-- <div th:replace="analytics/mobile/fragment/analytics-navbar :: analytics-navbar-mobile">&nbsp;</div> -->
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-navbar-bottom :: analytics-navbar-bottom">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-header-mobile :: analytics-header-mobile">&nbsp;</div>
	<div th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>
	
	<div class="titleSection">
		<div class="titleContainer">
			<a class="waves-attach" href="javascript:void(0)">
				<img alt="" th:src="@{/resource/analytics/images/mobile/ic_periodictime_thumb.png}" />&nbsp;&nbsp;Periodic Time
			</a>
		</div>
	</div>
	
	<div class="content">

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<section class="content-inner">
						<div class="tab-content">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="el-loading" id="el-loading-5">
									<div class="el-loading-indicator">
										<div class="progress progress-position-absolute-top">
											<div class="progress-bar-indeterminate"></div>
										</div>
									</div>
									<div class="card" id="periodic">
										<div class="card-main">
											<div class="card-inner">
												<div id="peaktime"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- js -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>
	
	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>
	<script th:src="@{/resource/analytics/js/underscore.js}"></script>
	<script th:src="@{/resource/analytics/js/jquery.number.js}"></script>
	<script th:src="@{/resource/analytics/js/moment-with-langs.js}"></script>
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	
	var startDate = '';
	var endDate = '';

	if($('#startDates').text().length == 0) {
		startDate = moment().subtract(7, 'days').format('YYYY-MM-DD');
		endDate = moment().format('YYYY-MM-DD');
	} else {
		startDate = $('#startDates').text();
		endDate = $('#endDates').text();
	}
	
	var projectName = [[${project.name}]];
	var idProject = [[${project.id}]];
	var addrPeakDay = $('#apiReport').attr('href') + idProject + "/peak-day?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;
	var addrPeakHour = $('#apiReport').attr('href') + idProject + "/peak-hour?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;
	var addrMediaCount = $('#apiReport').attr('href') + idProject + "/media-count?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;  
	var addrArticleCount = $('#apiReport').attr('href') + idProject + "/article-count?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;
	
	$('#dateBtn').click(function(){
		var startDates = moment($('#startDate').val()).format('YYYY-MM-DD');
		var endDates = moment($('#endDate').val()).format('YYYY-MM-DD');
		redirect = idProject + '/' + projectName + '?start=' + startDates + '&end=' + endDates;
		window.location = '/analytics/peaktime/'+redirect;
	});
	
	function articleCount(){
		$.ajax({
   	      type: "GET",
	          url: addrArticleCount,                                
	          data: "",
	      	  dataType: "json",
	       	  cache: false,
	      	  beforeSend : function(){
	      		  
	      	  },
	          success : function(data){
	        	
	          },complete : function(data){   	        	
	        	var obj = JSON.parse(data.responseText);
	        	var values = ConvertNumber(obj.data,1);
	        	var valuesExpand =  $.number(obj.data);
		    	$('#detailProject .post').text(values);
		    	$('#detailProjectExpand .post').text(valuesExpand);
	          }
   	   });
	}
	
	function mediaCount(){
    	$.ajax({
   	      type: "GET",
	          url: addrMediaCount,                                
	          data: "",
	      	  dataType: "json",
	       	  cache: false,
	      	  beforeSend : function(){
	      		  
	      	  },
	          success : function(data){
	        	
	          },complete : function(data){   	        	
	        	var obj = JSON.parse(data.responseText);
	        	var values = ConvertNumber(obj.data,1);
	        	var valuesExpand =  $.number(obj.data);
		    	$('#detailProject .contributor').text(values);
		    	$('#detailProjectExpand .contributor').text(valuesExpand);
	          }
   	   });
	}
	
	function ConvertNumber(n,d){
	   x=(''+n).length,
	   p=Math.pow,d=p(10,d)
	   x-=x%3
	   return Math.round(n*d/p(10,x))/d+" KMBTPE"[x/3]
	}
	
	$(window).load(function() {
		$("#el-loading-5").addClass("el-loading-done");
	});
	
	function getPeaktime(container){
       	var peaktime = [];
       	var peakday = [];
       	 $.ajax({
			 type: "GET",
		     url: addrPeakDay,
		     data: '',		     				     				         
	         beforeSend: function() {
	        	 
	         },
	         complete: function() { 		        	 
	        	 
	         },
	         success: function(data){
	        	 $.ajax({
					 type: "GET",
				     url: addrPeakHour,
				     data: '',		     				     				         						         
				     success: function(json){
			    		$.each(json.data, function(i, item){
			    			peaktime.push([item.id, item.value]);
					    });
			    		
			    		$.each(data.data, function(i, item){        		
			         		peakday.push([item.id, item.value]);
			         	});

			         	peakday.sort();
			         	peaktime.sort();
			         	
			         	$(container).highcharts({
			         		
			         		title: {
			                    text: ''
			                },
			                chart: {
			                    zoomType: 'x'
			                },
			                credits: {
			                    enabled: false
			                   },


			                xAxis: {
			                    type: 'datetime',
			                    dateTimeLabelFormats: {
			                       day: '%a %d/%b',
			                       millisecond: '%H:%M:%S.%L',
			                       second: '%H:%M:%S',
			                       minute: '%H:%M',
			                       hour: '%H:%M',
			                       week: '%e %b',
			                       month: '%b \'%y',
			                       year: '%Y'
			                    }
			                },
			                yAxis: {
			                    title: {
			                        text: null
			                    }
			                },
			                tooltip: {
			                	formatter: function() {
		                               return moment(this.x).format('MMM DD, YYYY HH:mm') +'<br/><div class="articlebox"></div><b>' + this.y + '</b> news ';
		                           }
			                },
			                legend: {
			                	align: 'right',
		    	                verticalAlign: 'top',
		    	                y: 30,
		    	                x: -80,
		    	                floating: true,
		    	                borderWidth: 0
			                },
			                plotOptions: {
			                    series: {
			                        cursor: 'pointer',
			                        point: {
			                        	events: {
		    		                        click: function () {
		    		                        	console.log(this.x +" - "+this.y);
		    		                        }
		    		                    }
			                        },
			                        marker: {
			                            lineWidth: 1
			                        }
			                    }
			                },

			                subtitle: {
			                    text: 'Pinch the screen to zoom in/out'
			                },

			                series: [{
			                    name: 'Peak by Hours',
			                    data: _.unique(peaktime),
			                    zIndex: 1,
			                    marker: {
			                    	fillColor: 'white',
				                    lineWidth: 2,
				                    lineColor: Highcharts.getOptions().colors[0]
			                    }
			                }]
			             });
			    		
				     },
				     failure: function(data) {
				    	console.log(data);
				     }	    
				});
		     }
		});
       }
	
		$(document).ready(function(){
			Highcharts.setOptions({
	            global: {
	                timezoneOffset: -7 * 60
	            }
	        });
			getPeaktime('#peaktime');
			$('#endDate').val(moment(endDate).format('DD-MMM-YYYY'));
	    	$('#startDate').val(moment(startDate).format('DD-MMM-YYYY'));
	    	
	    	$('#endDate').text(moment(endDate).format('DD/MM/YYYY'));
        	$('#startDate').text(moment(startDate).format('DD/MM/YYYY'));
	    	
	    	articleCount();
			mediaCount();
			$('.post').number();
	    	$('#contributor').number();
	    	
	    	/* Expand Header */
	    	$('#detailProjectExpand').hide();
	    	$('#collapseBtn').hide();
	    	$('#expandBtn').click(function(e) {
	    		e.preventDefault();
	    		$('#detailProject').hide();
	    		$('#detailProjectExpand').fadeIn();
	    		$('#collapseBtn').show();
	    		$(this).hide();
	    	});
	    	$('#collapseBtn').click(function(e) {
	    		e.preventDefault();
	    		$('#detailProjectExpand').hide();
	    		$('#detailProject').fadeIn();
	    		$('#expandBtn').show();
	    		$(this).hide();
	    	});
		});
	
	/*]]>*/
	</script>
</body>
</html>