.topbar{
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999;
	}
	.topbar .topbar-left{
		margin-top: 10px;
		float: left;
		position: relative;
		width: 185px;
		z-index: 1;
	}
	.navbar{
		position: relative;
		min-height: 43px !important;
	}
	.navbar-default{
		background-color: #ffffff;
		border-radius: 0;
		border: none;
		margin-bottom: 0;
		border-bottom: 1px solid #DDDDDD;
	}
	.navbar-nav{
		margin: 0;
	}
	.nav{
		padding-left: 0;
		list-style: none;
	}
	.nav > li{
		border-left: 1px solid #DDDDDD;
	}
	.nav > li{
		position: relative;
		display: block;
	}
	.nav > li > a{
		color: #4A4A4A;
		line-height: 43px;
		padding: 0 15px;
		position: relative;
		font-weight: 500;
	}
	.nav > li > a{
		display: block;
	}
	.navbar-nav > li{
		float: left;
	}
	.app-search{
		position: relative;
		margin: 6px 10px;
	}
	.app-search a{
		position: absolute;
		top: 5px;
		right: 20px;
		color: #c4c4cd;
	}
	.app-search .form-control, .app-search .form-control:focus{
		border: none;
	    border-top-width: medium;
	    border-right-width: medium;
	    border-bottom-width: medium;
	    border-left-width: medium;
	    border-top-style: none;
	    border-right-style: none;
	    border-bottom-style: none;
	    border-left-style: none;
	    border-top-color: -moz-use-text-color;
	    border-right-color: -moz-use-text-color;
	    border-bottom-color: -moz-use-text-color;
	    border-left-color: -moz-use-text-color;
	    -moz-border-top-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    border-image-source: none;
	    border-image-slice: 100% 100% 100% 100%;
	    border-image-width: 1 1 1 1;
	    border-image-outset: 0 0 0 0;
	    border-image-repeat: stretch stretch;
	font-size: 13px;
	color: #9B9B9B;
	padding-left: 20px;
	padding-right: 40px;
	background: #eeeeee;
	box-shadow: none;
	border-radius: 5px;
	height: 30px;
	font-weight: 300;
	width: 180px;
	}
	.small-avatar{
		border-radius: 6px;
		background: #00B8E6;
		color: #ffffff;
		text-align: center;
		vertical-align: middle;
		width: 27px;
		height: 27px;
		line-height: 27px;
		margin: 8px auto;
	}
	.big-avatar{
		border-radius: 6px;
		background: #00B8E6;
		color: #ffffff;
		text-align: center;
		vertical-align: middle;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.navbar-nav > li > .dropdown-menu{
		margin-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.navbar-right .dropdown-menu{
		right: 0;
		left: auto;
	}
	.open > .dropdown-menu{
		display: block;
	}
	.dropdown-menu-md{
		width: 240px !important;
	}
	.dropdown-menu{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
	.dropdown-menu.dropdown-menu-right, .dropdown.pull-right .dropdown-menu, .nav.pull-right .dropdown-menu{
		top: 43px;
	}
	.dropdown-footer{
		border-top: 1px solid #DDDDDD;
	}
	.notifi-title{
		border-bottom: 1px solid rgba(0,0,0,0.1);
		font-size: 14px;
		font-weight: 300;
		padding: 5px;
		color: #4A4A4A;
	}
	.notif-greet{
		margin-top: 0px;
	}
	.notif-greet h5{
		margin:0;
	}
	.dropdown-menu li{
		padding: 0;
	}
	.dropdown-menu > li > a{
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: 400;
		line-height: 1.42857143;
		color: #4a4a4a;
		white-space: nowrap;
		padding: 6px 20px;
	}