/* Landing page styling */
.row {
    margin-right: 0;
    margin-left: 0;
}
/* Landing page navbar styling */
#landing.header{
	background-color: transparent;
	border-bottom: none;
	padding: 5px 0 9px 0;
}
#landing.header a{
	color: #fff;
}
/* #landing.header .container { */
.header .container {
	max-width: 96%;
}
.header-logo,
.menu-logo {
    font-size: 16px;
}
.nav .active {
    color: #01B8E6;
}
header .nav li {
    padding-top: 1px;
    margin: 0 6px;
}
header .nav li:first-child,
header .nav li:last-child {
    margin: 0;
}
header .dropdown-menu li {
    margin: 0;
    padding: 0;
}
.header .dropdown-menu a {
    padding: 7px 10px;
}

/* Landing page navbar button group styling */
.nav-list .btn-group {
    border: none;
}
.nav-list .btn-group > .btn-right {
    border-radius: 0px 4px 4px 0px;
}
.nav-list .btn-group > .btn-left {
    border-radius: 4px 0px 0px 4px;
}
.btn-left {
    background-color: #007AAA;
    color: #ffffff !important;
    padding: 6px 22px;
    border-radius: 2px;
    margin-top: 10px;
}
.btn-right {
    background-color: #00B8E6;
    color: #ffffff !important;
    padding: 6px 22px;
    border-radius: 0;
    margin-top: 10px;
}

/* Mantra Vertical Center */
.vertical-align {
    display: flex;
    flex-direction: row;
}
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
    flex-grow: 1;
}

/* Footer styling */
footer {
    color: #fff;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
footer a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #2196f3;
    text-decoration: none;
}
footer ul {
    list-style-type: none;
    font-size: 12px;
}
.foo1 {
    height: 78px;
    padding-top: 12px;
    background: #335E8C;
}
.foo2 {
    height: 130px;
    padding-top: 0;
    padding-bottom: 15px;
    background: #22456A;
}
.foo2 ul {
    padding: 0px !important;
}
.foo2 i {
    font-size: 18px;
}
footer span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
}
.foo3 {
    height: 34px;
    background: #1E3D5E;
    font-size: 12px;
    line-height: 22px;
}
.circle {
    width: 30px;
    height: 30px;
    color: #22456A;
    background: #fff;
    line-height: 35px;
    text-align: center;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 0;
}
ul.social {
    display: -moz-inline-box;
    display: -webkit-inline-box;
    padding: 0 !important;
    margin: 0 0.3rem !important;
}
ul.social > li {
    padding: 0 !important;
    margin: 0.5rem 0.3rem !important;
}
hr {
    max-width: 75rem;
    height: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0;
    margin: 1.25rem auto;
    clear: both;
}
.circle.facebook:HOVER .fa-facebook {
    color: #3b5998;
}
.circle.twitter:HOVER .fa-twitter {
    color: #55acee;
}
.circle.instagram:HOVER .fa-instagram {
    color: #3f729b;
}
.circle.google-plus:HOVER .fa-google-plus {
    color: #dc4e41;
}
.circle.telegram:HOVER .fa-location-arrow {
    color: #0088cc;
}

/* Styling for modal signin and sign up */
.text-grey {
    color: #A4A4A4;
}
.img-logo-modal {
    margin: 20px;
}
.modal-content .logo-modal {
    border-bottom: 1px solid #E6E6E6;
    border-radius: 4px 4px 0 0;
}
.modal-heading {
    margin-bottom: 0;
}
.modal-inner {
    margin-top: 0;
}
.modal-heading h3 {
    margin: 0;
}
.modal-inner .form-group {
    margin-bottom: 30px;
}
.modal-inner a {
    color: #00B8E6;
}
.modal-inner a:hover {
    cursor: pointer;
}
#register {
    margin: 50px;
}
.register-button {
    padding: 5px;
    text-decoration: underline;
}


/* Intro section */
#intro-wrapper .background {
    background-image: url("../images/landing/bg_homepage.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
    padding-bottom: 135px;
    height:100vh;
}
.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#intro-wrapper h1 {
    color: #08BBE7;
    font-size: 40px;
}
#intro-wrapper h4 {
    margin-top: 20px;
    line-height: 22px;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
}
#intro-wrapper .container {
    max-width: 900px;
}
#intro-wrapper .row {
    margin-top: 100px;
}
#intro-wrapper b {
    font-weight: 700;
}
#intro-wrapper img {
	margin-top: 100px !important;
    max-width: 267px;
    margin: auto;
}
#intro-wrapper .sub-head.row {
    margin-top: 30px;
}
#intro-wrapper .wrapper {
    border-top: 2px solid #00B2DD;
    width: 60%;
	margin-left: auto;
	margin-right: auto;
	float: none !important;	
}

/* Genesis section */
#genesis {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../images/landing/bg_section_genesis.png");
    background-repeat: no-repeat;
    background-position: left;
    color: #fff;
    background-size: cover;
    padding-bottom: 100px;
}
#genesis .container {
    padding-top: 70px;
}
#genesis img {
    float: right;
}
#genesis h4 {
    color: #A4A4A4;
    font-weight: 300;
}
#genesis strong {
    color: #575758;
}

/* Benefit section */
#benefit {
	background-image:linear-gradient(-180deg, #FFF 0%, #F4F4F4 45%);
}
#benefit h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(218, 218, 218);
    line-height: 0.1em;
    margin: 60px 0 50px;
    font-size: 35px;
    font-weight: 300;
    color: #575758;
}
#benefit h1 span {
	background: #FCFCFC;
    padding: 0 30px;
}
#benefit h3 {
    margin-top: 0;
}
#benefit h4 {
    font-size: 17px;
    line-height: 20px;
    margin-top: 15px;
    font-weight: 100;
    color: #7A7676;
}
#benefit .col-md-4 {
    margin-bottom: 40px;
}
#benefit b {
    font-size: 30px;
    font-weight: 100;
    color: #01B8E6;
}

/* Adaptive section */
#adaptive {
    background-color: #147FA8;
    color: #fff;
}
#adaptive .row {
    margin-right: 0;
}
#adaptive .col-xs-12 {
    padding-right: 0;
}
#adaptive h2 {
    margin: 0px;
}
#adaptive .col-md-5 {
    /* margin-top: 80px; */
}
#adaptive img {
    height: 30em;
    float: right;
}
#adaptive h2 {
    font-size: 43px;
    font-weight: 300;
}
#adaptive .col-xs-6, #adaptive .col-md-7 {
	padding-right:0;
}
.adapt-sec {
	background-image: url("../images/landing/img_devices_landing.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 320px;
}
#adaptive .copy {
    position: absolute;
    bottom: 45%; left: 0;
    width: 100%; text-align: center;
}

/* Feature section */
#features h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(218, 218, 218);
    line-height: 0.1em;
    margin: 10px 0 50px;
    font-size: 35px;
    font-weight:300;
    color: #575758;
}
#features h1 span {
    background: #FFF;
    padding: 0 30px;
}
#features {
    padding-top: 50px;
    padding-bottom: 50px;
}
#features .row {
    margin-top: 5px;
}
#features h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 25px;
    color: #575758;
}
#feature h1 {
    font-size: 35px;
    color: #575758;
}
#features img {
    height: auto;
    width: 140px;
}
#features .automatereport img{
	height: 130px;
	width: auto;
}
#features h4 {
    margin-top: 5px;
    font-size: 17px;
    font-weight: 100;
}
#features .col-md-10 {
    padding-left: 50px !important;
}

/* Testimony section */
#testimony {
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimony .row {
    margin-top: 20px;
}
#testimony h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    line-height: 0.1em;
    margin: 10px 0 50px;
    font-size: 35px;
    font-weight: 300;
    color: #fff;
}
#testimony h1 span {
    background: #244768;
    padding: 0 30px;
}

#testimony .vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
	justify-content: normal;
}

#testimony .callouts {
  list-style-type: none;
}

#testimony .callouts li {
	display: inline-block;
	position: relative;
	padding: 15px;
	background-color: #fff;
	border-radius: 4px;
}

#testimony .callouts-left:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: -42px;
	top: 17px;
	z-index: 2;
}

#testimony .callouts-left:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: -24px;
	top: 17px;
	border: 8px solid transparent;
	border-right: 17px solid #fff;
	z-index: 3;
}

/* Contact section */
#contact h1 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgb(218, 218, 218);
    line-height: 0.1em;
    margin: 60px 0 40px;
    font-size: 35px;
    font-weight: 300;
    color: #575758;
}
#contact h1 span {
    background: #fff;
    padding: 0 30px;
}

.frame {
    width: 200px;
    height: 140px;
    display: inline-block;
    border: 1px solid #DADADA;
    border-radius: 5px;
    position: relative;
}
.frame > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



#bottom-section {
    background-color: #fff;
    padding-bottom: 50px;
}
#bottom-section h4 {
    margin-top: 50px;
    margin-bottom: 25px;
}
.contact {
    background-color: #fff;
}

.header-logo,
.menu-logo,
.header-text {
    font-weight: 300;
}
.content-inquiries .col-xs-12 {
    padding-right: 0;
}
.content-inquiries .form-group {} #contact p {
    font-size: 15px;
    line-height: 22px;
}
.content-inquiries .form-group {
    margin-bottom: 0;
    margin-top: 30px;
}
#contact h4 {
    margin-top: 0;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
}
#contact .col-md-7 {
    margin: 48px 0 48px 0;
    border-right: 1px solid rgb(230, 230, 230);
}
#contact {
    background-color: #fff;
}
#contact b {
    font-weight: 700;
}
#contact img {
    margin: 48px 0;
    max-height: 50px;
}
#contact .col-md-7 {
    padding-right: 48px;
}
#contact .col-md-5 {
    padding-left: 48px;
    padding-bottom: 48px;
}
#contact input {
    background: #F0F0F0 none repeat scroll 0% 0%;
    width: 70%;
    float: right;
    border: none;
    padding: 0.8em;
    border-radius: 3px;
}
#contact select {
    width: 70%;
    float: right;
    border: 0px solid;
    padding: 0.3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #F0F0F0 url("../images/ic_arrow_drop_down_black.png") no-repeat right;
    background-position: right 7px top 7px;
}
#contact .col-md-5 h3 {
    margin-top: 0;
    font-size: 17px;
}
#contact textarea {
    background: #F0F0F0 none repeat scroll 0% 0%;
    width: 70%;
    float: right;
    border: 0px solid;
    padding: 0.3em;
    height: 10em;
    max-width: 70%;
    min-width: 70%;
    min-height: 30px;
}
.content-inquiries H3 {
    margin-top: 0px;
    font-weight: 300;
    font-size: 25px;
}

.btn-request {
    display: inline-block;
    text-transform: uppercase;
    background: #89D436;
    border: 1px solid #488306;
    box-shadow: 0px 2px 0px 0px #3F6B0E, inset 0px 1px 0px 0px #D8FEAE;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 0px 30px;
    height: 50px;
    line-height: 52px;
    min-width: 100px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -o-transition: all linear .2s;
    -ms-transition: all linear .2s;
    transition: all linear .2s;
}
.btn-request:hover,
.btn-request:focus {
    color: #fff;
}

/***** Modal styling ******/

#signinModal .modal-heading h1,
#signupModal .modal-heading h1,
#inquiriesModal .modal-heading h1,
#addProject .modal-heading h1 {
    color: #464646;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
#signinModal .modal-heading p,
#inquiriesModal .modal-heading p,
#addProject .modal-heading p {
    margin: 0;
}
#addProject .modal-heading {
    margin-bottom: 0;
}
#addProject .modal-inner {
    margin-top: 0;
}
#mailWizard .card{
	box-shadow: none;
}
#signinModal input,
#signinModal select,
#signupModal input,
#mailWizard input,
#mailWizard select,
#timeConfig select,
#timeConfig input,
#inquiriesModal input,
#inquiriesModal select,
#inquiriesModal textarea, 
#createGroup input,
#addRecipient input, 
#newsletterConfig select,
#newsletterConfig input, 
#importGroup input,
#composeBlast input,
#automatedSchedule input, 
#automatedSchedule select,
#automatedStyling input, 
#automatedStyling select,
#automated input,
#automated select, 
#addPin input, 
#reportConfig input, 
#reportConfig select,
#editNewsClipping input, 
#automatedScheduleMonth input,
#automatedScheduleMonth select,
#editNewsClipping textarea {
    background: #F0F0F0;
    width: 100%;
    float: right;
    border: 0px solid;
    padding: 0.5em;
    margin: 10px 0px 10px 0px;
}
#mailWizard .radio input{
	margin: 0;
	margin-left: -20px;
}
#mailWizard .tab-nav .nav{
	background-color: #fff;
}
#mailWizard .tab-nav .nav > li.active > a, .tab-nav .nav > li.active > .a {
	background-color: #fff;
	color: #4a4a4a !important;
}
#mailWizard .tab-nav .nav > li > a, .tab-nav .nav > li > .a{
	color: #4a4a4a !important; 
}
#mailWizard .tab-nav .nav > li > a:hover,
#mailWizard .tab-nav .nav > li > .a:hover {
    border-bottom-color: #2196f3!important;
    background-color: #fff;
}
#addProject label {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 10px;
}
#addProject .form-group {
    margin-top: 15px;
    margin-bottom: 0;
}
#addProject input {
    width: 80%;
}
#signinModal .modal-footer,
#inquiriesModal .modal-footer,
#addProject .modal-footer {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
}
.btn-general {
    background: #00A0DC;
    width: auto;
    padding: 0.5em 2em;
    border-radius: 5px;
    color: #fff;
    float: right;
}
.btn-general:hover {
    color: #fff;
}
.btn-cancel {
    background: #fff;
    width: auto;
    padding: 0.5em 2em;
    border-radius: 5px;
    color: #C8C8C8;
    float: right;
}

/* Thanks page styling */
#content-wrapper {
    width: 30%;
    height: 100%;
    margin: 10% 35%;
    text-align: center;
}
#content-wrapper h1 {
    font-size: 24px;
    font-weight: 700;
    color: #22456A;
    text-transform: uppercase;
}
#content-wrapper h4 {
    margin: 20px 0;
}
#content-wrapper p {
    margin: 0;
}
#wrapper-page {
    padding-top: 50px;
}
.btn-border {
    border: 3px solid #00A0DC;
    background: transparent;
    width: auto;
    padding: 0.5em 2em;
    border-radius: 5px;
    color: #00A0DC;
    font-weight: 700;
}
.btn-border:hover {
    color: #00A0DC;
}
.btn-keyword {
    font-size: 0.8em;
    color: #4B4D4C !important;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #AEAEAE;
    padding: 0.3em 1.6em !important;
    margin: 4px 5px;
    box-shadow: none;
}

/* Navbar styling */
.navbar-brand {
    width: 141px;
    height: auto;
    margin-right: 1rem;
}
.header li a.btn-blue {
    font-weight: 700;
    font-size: 17px;
    padding: 8px 22px;
}
img.mobile-logo {
    width: 150px;
    height: auto;
    /* padding-top: 8px; */
}
.user-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 60px;
}
.user-menu li a.nav-menu {
    font-size: 15px;
    font-weight: 400;
    margin: 8px 10px;
}
.user-menu li:first-child a.nav-menu {
    padding-left: 20px;
}
.user-menu li a.nav-menu:hover {
    color: #00B8E6;
}
.user-menu li a.active {
    color: #00B8E6 !important;
}
.user-menu ul li p {
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    margin: 5px 15px;
}
.dropdown-menu li {
    padding: 5px 10px;
}

/* Mission controller style */

#mc-wrapper .container {
    width: 80%;
    margin-top: 6%;
    margin-bottom: 3%;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    padding: 0;
    background: #fff;
}
#mc-wrapper .col-sm-12 {
    padding: 0 0 20px 0;
}
/* Content head styling */

.content-head,
.content-inner {
    padding-left: 22px;
    padding-right: 22px;
}
.content-head h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    margin-right: 20px;
}
.content-head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    line-height: 60px;
}
.content-head ul li {
    height: 60px;
    display: table-cell;
    vertical-align: middle;
}
.content-head ul li img {
    margin-right: 10px;
}
.content-head label {
    color: #9B9B9B;
    font-size: 14px;
    margin: 0 10px;
}
.content-head select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #C8C8C8;
    border-radius: 2px;
    background: #F3F3F3;
    width: 160px;
    padding: 0;
    height: 30px;
}
.showby-dropdown {
    /* Size and position */
    
    position: relative;
    /* Enable absolute positioning for children and pseudo elements */
    
    width: 150px;
    margin: 0 auto;
    padding: 5px 15px;
    /* Styles */
    
    border: 1px solid #C8C8C8;
    border-radius: 2px;
    background: #F3F3F3;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    color: #4A4A4A;
}
.content-head .showby-dropdown ul li {
    height: inherit;
}
.showby-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}
.showby-dropdown .dropdown {
    /* Size & position */
    
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 1;
    /* Styles */
    
    background: #F3F3F3;
    border: 1px solid #C8C8C8;
    transition: all 0.3s ease-out;
    list-style: none;
    /* Hiding */
    
    opacity: 0;
    pointer-events: none;
}
.showby-dropdown .dropdown li {
    display: block;
    margin-right: 0;
}
.showby-dropdown .dropdown li:last-child {
    float: none;
}
.showby-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    padding: 8px 10px;
    transition: all 0.3s ease-out;
    font-size: 13px;
    color: #4A4A4A;
}
.showby-dropdown .dropdown li img {
    margin-right: 10px;
    vertical-align: middle;
}
.showby-dropdown .dropdown li:hover a {
    background: #D9D9D9;
}
.showby-dropdown.active:after {
    border-width: 0 6px 6px 6px;
}
.showby-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #C8C8C8;
    border-radius: 2px;
}
.btn-group>.btn {
    position: relative;
    float: left;
    border-radius: 0;
}
.btn-view {
    color: #9B9B9B;
    font-size: 18px;
    background-color: #e8e8e8;
    padding: 6px 10px;
}
.btn-view.active{
	background-color: #F3F3F3;
}
.btn-group a.btn-view:hover {
    background: #E4E4E4;
}
.btn-view:hover {
    background: #E4E4E4;
    color: #9B9B9B;
}
.content-head input {
    border: 1px solid #C8C8C8;
    padding: 0 10px;
    background: #F3F3F3;
    border-radius: 2px;
    margin-left: 5px;
    height: 30px;
    width: 150px;
    padding: 0 10px;
}
.content-head .icon {
    font-size: 20px;
    margin-left: -30px;
    line-height: 56px;
    color: #A4A4A4;
    cursor: pointer;
}
.content-head .btn-blue {
    padding: 8px 20px;
    margin: 0;
    margin-left: 40px;
}
/* Content inner styling */

.content-inner {
    min-height: 500px;
}
/* KeywordBox styling */

#keywordBox {
    margin: 20px 5px;
}
#keywordBox .col-sm-2 {
    padding-left: 0;
}
.box {
    min-height: 259px;
    min-width: 150px;
    margin-bottom: 10px;
}
.boxImg {
    cursor: pointer;
    padding: 1px;
    /* margin: 0 6px; */
}
.box-detail {
    width: 140px;
    font-size: 11px;
    cursor: normal;
}
.box:hover .boxImg {
    background-color: #000;
    background: rgb(255, 0, 0);
    opacity: 0.5;
}
.box:hover .boxImg .btn-activate {
    opacity: 1 !important;
}
.item {
    text-align: center;
    float: left;
    margin: 0px 5px 10px 0px;
    position: relative;
}
.item,
.item-hover,
.item-hover .mask,
.item-img,
.item-info {
    width: 140px;
    height: 182px;
    border-radius: 5px;
}
.item-hover,
.item-hover .mask,
.item-img {
    position: absolute;
    top: 0;
    left: 0;
}
.item-type-move .item-hover {
    /* -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out; */
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}
.item-type-move .item-info {
    z-index: 10;
    color: #ffffff;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.item-type-move .item-info .headline,
.item-type-move .item-info .date {
    width: 100%;
    position: absolute;
    /* -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box; */
    padding: 0 10px;
}
.item-type-move .item-info .headline {
    font-size: 18px;
    top: 10px;
}
.item-type-move .item-info .date {
    font-size: 14px;
    font-style: italic;
    bottom: 10px;
}
.item-type-move .item-info .line {
    height: 1px;
    width: 85%;
    margin: 10px auto 0 auto;
    background-color: #ffffff;
}
.item-type-move .item-hover .mask {
    background-color: #000;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    z-index: 0;
}
.item-type-move .item-hover:hover {
    opacity: 1;
}
.item-type-move .item-hover:hover .item-info .headline {
    top: 35%;
}
.item-type-move .item-hover:hover .item-info .date {
    bottom: 35%;
}
.item-img {
    z-index: 0;
}
.headline a {
    margin: 0px;
}
.btn-activate {
    background: #7ED321;
    color: #fff;
    padding: 6px 20px;
    /*   width: 86px;
    height: 21px;
    line-height: 18px; */
    
    text-align: center;
    border-radius: 3px;
    font-size: 11px;
    border: 0;
    margin: 60% 18%;
    z-index: 1;
}
.btn-show {
    background: rgb(255, 255, 255) transparent;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    padding: 6px 20px;
    /* width: 86px;
    height: 21px;
    line-height: 16px; */
    
    text-align: center;
    border-radius: 3px;
    font-size: 11px;
    border: 2px solid #fff;
    margin: 40% 18%;
    z-index: 1;
}
.btn-trash {
    position: absolute;
    vertical-align: top !important;
    color: #fff;
    font-size: 18px;
    border: 0;
    left: 20px !important;
    top: -50px !important;
}
.box-detail p {
    margin: 6px 0;
}
.project-head {
    font-size: 12px;
    text-transform: uppercase;
}
.keyword {
    background-color: #000;
    color: #fff;
    opacity: 0.55;
    width: 100%;
    height: 56px;
    padding: 10px 5px 10px 15px;
    position: absolute !important;
    bottom: 0;
    left: 0;
}
.keyword p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 2px;
}
.keyword i {
    font-size: 11px;
    padding-right: 5px;
}
.keyword span {
    font-size: 12px;
    letter-spacing: 1px;
}
.boxImg {
    width: 140px;
    height: 182px;
    border-radius: 5px;
}
#mc-wrapper .content-head {
    border-bottom: 1px solid #D5D5D5;
}
#mc-wrapper .container {
    min-height: 100%;
}
/* Table styling */

#projectsTable {
    margin: 20px 0;
}
.content-inner th {
    font-size: 15px !important;
    color: #4a4a4a !important;
}
.projectname a:hover {
    color: #00b8e6;
}
table .btn-activate {
    margin: 0;
}
table {
    counter-reset: section;
}
.count:before {
    counter-increment: section;
    content: counter(section);
}
table a.danger {
    font-size: 12px;
}
/* Order detail stying */

.order-detail .content-inner p {
    font-size: 15px;
    color: #4a4a4a;
}
.project-detail {
    margin: 20px 0;
}
.project-detail p {
    margin: 4px 0;
}
.order-detail .content-inner input,
.order-detail .content-inner select {
    width: 20%;
}
.order-detail select {
    padding: 7px 15px;
    border: 1px solid #C8C8C8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_arrow_drop_down_48px-16.png") no-repeat 150px center !important;
}
.order-detail .content-inner {
    padding-top: 3%;
    padding-bottom: 5%;
}

/* Billing */
.bank-detail {
    margin-top: 10px;
}
.bank-detail p {
    margin: 0;
}
.bank-detail img {
    padding-top: 14px;
}
.btn-danger {
    color: red;
    border: 3px solid red;
    background: transparent;
    width: auto;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: 700;
}
.btn-safe {
    color: #8ED83C;
    border: 3px solid #8ED83C;
    background: transparent;
    width: auto;
    padding: 0.5em 2em;
    border-radius: 5px;
    font-weight: 700;
}
.payment-detail p {
    margin: 2px 0;
}
.danger {
    color: red;
}

/* Payment confirm */
.payment-confirm input {
    background: #F0F0F0;
    border: 0px solid;
    padding: 7px 15px;
}
.payment-confirm .row {
    margin: 10px 0;
}
input.grey-box {
    background: #F0F0F0;
    border: 0px solid;
    padding: 8px 15px;
}
#period {}
/***** Mobile navbar styling ******/

#mobilenav-wrapper .nav {
    margin: 25px;
}
#mobilenav-wrapper li {
    line-height: 40px;
}
.nav-font-size a {
    font-size: 17px;
}
.divider {
    border-bottom: 2px solid #bdbdbd;
    margin-bottom: 20px;
    margin-top: 20px;
}
#mobile-nav ul {
    font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        margin-top: 80px;
    }
    #landing.header{
		background-color: #fff;
	}
	.nav-list .btn-group > .btn-left.r-4{
		border-radius: 4px;
	}
    #intro-wrapper .row {
	    margin-top: 35px;
	}
    #intro-wrapper .background{
    	background-repeat: repeat;
    	padding-bottom: 30px;
    }
    #intro-wrapper img {
		margin-top: 50px !important;
	}
	#intro-wrapper .wrapper{
		width: 90%;
	}
	#intro-wrapper h1{
		font-size: 30px;
		margin-top: 10px;
	}
	.content{
		margin-left: 0 !important;
	}
    /* Modal sign in and sign up */
    .modal-inner .col-md-12 {
        padding: 0;
    }
    .modal-inner a {
        display: block;
    }
    #register {
        margin: 50px 0;
    }
    header .nav a {
        padding-top: 12px;
    }
    #features .row.vertical-align {
        display: block;
    }
    img.mobile-logo {
        max-width: 125px;
    }
    .header .container {
        padding: 0;
    }
    #adaptive img {
        height: 14em;
        float: right;
    }
    #benefit h1 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(218, 218, 218);
        line-height: 0.1em;
        margin: 60px 0 70px;
    }
    #benefit h1 span {
        background: #F9FDFF none repeat scroll 0% 0%;
        padding: 0 20px;
        font-weight: lighter;
        font-size: 28px;
    }
    #contact h1 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(218, 218, 218);
        line-height: 0.1em;
        margin: 60px 0 40px;
    }
    #contact h1 span {
        background: #fff;
        padding: 0 20px;
        font-size: 28px;
    }
    #mc-wrapper .container {
        margin-bottom: 8%;
    }
    .content-head {
        height: 100px;
    }
    .content-head h1 {
        margin-right: 0;
    }
    .content-head .btn-blue {
        margin-left: 0;
    }
    #features h1 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgb(218, 218, 218);
        line-height: 0.1em;
        margin: 60px 0 70px;
    }
    #features h1 span {
        background: #FFF;
        padding: 0 10px;
        font-size: 28px;
    }
    #adaptive h2 {
        font-size: 6vw;
        padding: 0px 0px 0px 30%;
        line-height: 6vw;
        text-align: left;
        /* margin-top: 15%; */
    }
    #features h3 {
        margin-top: 20px;
    }
    #features .col-md-9 {
        padding-left: 0px !important;
    }
    #intro-wrapper .container {
        width: 100%;
    }
    #testimony h4 {
        text-align: center;
        margin-left: 0;
        margin-top: 0;
    }
    #features {
        width: 80%;
        margin: 0 10% 50px 10%;
    }
    #features .col-md-9 {
        padding-right: 0;
    }
    #features h3 {
        text-align: center;
    }
    #features h4 {
        text-align: center;
    }
    .box {
        margin-left: 20%;
        margin-right: 20%;
    }
    #features .container {
        padding: 0px;
    }
    #features .col-md-10 {
        padding-left: 16px !important;
    }
    #contact .col-md-7 {
        padding-left: 28px;
        padding-right: 28px;
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 50px;
        margin-bottom: 0;
    }
    #contact .col-md-7 {
        border-right: 0;
    }
    #features .height-content {
        height: auto !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        margin-top: 80px;
    }
    
    /* Modal sign in and sign up */
    .hidden-menu-xs {
        display: none !important;
    }
    .hidden-sm {
        display: none !important;
    }
    #contact .col-md-7 {
        border-right: 0;
        padding-left: 48px;
        border-bottom: 1px solid #E6E6E6;
        padding-bottom: 50px;
        margin-bottom: 0;
    }
    #features .height-content {
        height: auto !important;
    }
    #features .row.vertical-align {
        display: flex;
        align-items: center;
    }
    #adaptive img {
        height: 20em !important;
    }
    .showby-dropdown {
        width: 80px;
    }
    .user-menu li a.nav-menu {
        font-size: 15px;
        margin: 10px 15px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .hidden-sm {
        display: none !important;
    }
    .content .container{
    	max-width: initial !important;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

#cards-wrapper .card{
	background: #e1e1e1;
}
#cards-wrapper .card.noshadow{
	height:inherit;	
}
#cards-wrapper .card-header {
	background: #fff;
	min-height: 30px !important;
	margin-bottom: 10px;
}

#cards-wrapper .card-header span {
	margin-left: 20px;
	line-height: 30px;
	color: #4a4a4a;
}

.content-inner {
	margin-bottom: 16px;
}

#news-card.card {
	background: #fff;
	box-shadow: none;
	margin-top: 0;
}

#news-card.card .card-inner {
	margin: -14px 11px 7px;	
}
#news-card.card .card-inner a {
	color: #474747;
	text-decoration:none;
}
#news-card.card a:hover {
	text-decoration:none;
}
#news-card.card strong {
	font-weight: 400;
}
		
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: absolute;
  top: 0;
  left: 50%;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

/* Side navbar */
.side-menu{
	width: 220px;
	z-index: 2;
	background: #fff;
	border-right: 1px solid #e0e0e0;
}
.side-menu.left {
	height: 100%;
	position: fixed;
}
#sidebar-menu {
	padding-bottom: 50px;
	padding-top: 100px;
	width: 100%;
}
#sidebar-menu .nav {
	margin: 12px 0; 
}
#sidebar-menu h4{
	margin-left: 20px;
	margin-top: 10px;
}
#sidebar-menu a {
	line-height: 47px;
	padding-left: 25px;
	color: #4A4A4A;
}
#sidebar-menu .tile{
	box-shadow: none;
	border-bottom: 1px solid #e0e0e0;
}

#sidebar-menu a.tile.active{
	color: #00B8E6;
	margin-top: 0;
	margin-bottom: 0;
}

#sidebar-menu .tile.active {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
#sidebar-menu span.title {
	margin-left: 20px;
	color: #4a4a4a;
	font-weight: 500;
}
#sidebar-menu span.symbol{
	margin-right: 10px;
}
.content {
	margin-left: 220px;
}

.scroll-top-wrapper {
    position: fixed;
    font-size:2em;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #777777;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}

#inner-wrapper{
	margin-top: 100px;
}
#inner-wrapper-shorter{
	margin-top: 72px;
}
#inner-wrapper.container{
	max-width: none;
}
#inner-wrapper .content-inner{
	padding-right: 0;
	padding-left: 0;
}
#emailMarketing, #automated, #gnewsLetter, #reportDashboard, 
#groupDetail, #composeBlast, #reportConfig{
	padding: 20px;
}
h1.modal-head{
	margin-top: 0;
	font-size: 24px;
	color: #4a4a4a;
}
#MailProvider .btn-general, #MailAccount .btn-general,
#emailMarketing .btn-cancel, #MailProvider .btn-cancel, #MailAccount .btn-cancel, 
#automated .btn-general, #automated .btn-cancel, 
#timeConfig .btn-general, #timeConfig .btn-cancel{
	float: none;
}
#MailProvider .modal-heading h1{
	font-size:24px;
	color: #4a4a4a;
}
.form-left-adjust label{
	width: 100px;
}
.content-inner h5, .content-inner h4{
	margin: 0;
	color: #4a4a4a;
	font-weight: 300;
}
i.icon-head{
	font-size: 16px;
	margin-right: 10px;
}
i.icon-big{
	font-size: 30px;
    color: #4a4a4a;
}
i.icon-biggest{
	font-size: 36px;
	color: #4a4a4a;
}
.ui-timepicker-wrapper {
	width: 14.5em !important;
}
.inner-form .col-sm-2{
	padding-left: 30px;
}
.inner-form .form-group{
	margin-top: 12px;
	margin-bottom: 12px;
}
.inner-form select, .inner-form input {
	width: 200px;
}
#mail-navbar .tab-nav{
	margin-top: 0;
}
.biru {
	color: #00B8E6 !important;
}
.col-sm-12.padding-less, 
#inner-wrapper-shorter.container,
#analytics-wrapper.container{
	padding-right: 0 !important;
	padding-left: 0 !important;
}

#reportDashboard h3, #groupDetail h3{
	margin: 0;
	color: #4a4a4a;
	font-weight: 300;
}
.box-model{
	margin: 20px 0;
	border: 1px solid #e1e1e1;
	padding: 10px;
	line-height: 30px;
}
.box-content{
	margin: 10px 0;
}
#composeBlast {
	height: 700px !important;
}
.card.noshadow.starter-page{
	display: table;
	height: 80vh;
}
.card.noshadow.auto-height{
	height: auto;
}
.instruction-page{
	display: table-cell;
	vertical-align: middle;
	width: 70%;
}
.instruction-page h3{
	margin: 20px auto;
	color: #4a4a4a;
}
.instruction-page .btn-general{
	float: none;
	margin: 20px auto;
}

.config-group{
	margin-bottom: 20px;
}

.form-control{
	background: #F0F0F0;
	color: #4a4a4a;
	width: 100%;
	border: 0px solid;
	padding: 0.5em;
}
.form-control:focus{
	border-color: transparent;
	border-bottom-width: 0px;
	outline: 0;
	padding-bottom: 6px;
}
.form-control.date_pick{
	text-align: center;
}
.input-group{
	position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control{
	display: table-cell;
}
.input-group-addon{
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}
.input-group-addon{
	display: table-cell;
	width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon:last-child{
	border-left: 0;
}
.hidden{
	display: none;
}
.text-right{
	text-align: right;
}
.bg-custom{
	background: #00B8E6;
}
.b-0{
	border: none !important;
}
.text-white{
	color: white;
}
.top-space{
	margin-top: 10px;
}
.date-range-picker{
	margin-top:20%;
}
#reportConfig .form-group {
	margin: 0 40px;
	padding-bottom: 30px;
}
#reportConfig img{
	margin: 0 40px;
}

.subMenu, .subMenu h4{
	font-weight: 400;
	margin-bottom: 15px;
}

.blast-detail h5{
	font-weight: 400;
}
.blast-detail span{
	font-weight: 300;
}
.shadowed-box{
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: -15px 15px 22px 3px rgba(219,219,219,1);
	-moz-box-shadow: -15px 15px 22px 3px rgba(219,219,219,1);
	box-shadow: -15px 15px 22px 3px rgba(219,219,219,1);
}