<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="landing-navbar">
		<header  id="landing" class="header header-waterfall" style="box-shadow: unset;">
			<div class="container">
				<!-- <div class="row"> -->
					<div class="col-sm-12" >
						<div class="col-sm-12">
							<ul class="nav nav-list pull-left active-scroll">
								<li class="hidden-xx hidden-xs"><a style="padding-top: 12px;" th:href="@{/}">
								<img class="navbar-brand margin-left-no" th:src="@{/resource/images/landing/lo_gnewspro_white.png}"/>
								</a></li>
								<li class="hidden-sm hidden-md hidden-lg"><a th:href="@{/}">
								<img class="mobile-logo margin-left-no" th:src="@{/resource/images/logo_gnewspro-compress.png}"/>
								</a></li>
								<li class="hidden-xx hidden-xs"><a class="header-logo" href="#1" >Why</a></li>
								<li class="hidden-xx hidden-xs"><a class="header-logo" href="#2">Services</a></li>
								<li class="hidden-xx hidden-xs"><a class="header-logo" href="#3" >Contact</a></li>
								<li class="hidden-xx hidden-xs"><a class="header-logo" href="https://blog.gnews.io/">Blog</a></li>
							</ul>
							<ul class="nav nav-list pull-right">
								<li class="hidden-xx hidden-xs">
									 <div class="btn-group">
										  <a class="btn btn-left" data-toggle="modal" href="#signupModal">Register</a>
										  <a class="btn btn-right" data-toggle="modal" href="#signinModal">Sign in</a>
									 </div>
								</li>
								<li class="hidden-sm hidden-md hidden-lg">
									<div class="btn-group">
										<a class="btn btn-left r-4" data-toggle="modal" href="#signinModal"><i class="fa fa-user" aria-hidden="true"></i></a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				<!-- </div> -->
			</div>
		</header>
	</div>
</body>
</html>
