<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div id="mobilenav-wrapper" th:fragment="mobile-navbar">
			<nav aria-hidden="true" class="menu menu-left" id="mobileNav" tabindex="-1">
				<div class="menu-scroll">
					<div class="menu-top">
						<div class="menu-top-img">
							<span>GNEWSANALYTICS</span>
						</div>
						<div class="menu-top-info" style="padding: 40px 16px;">
						</div>
					</div>
					<div class="menu-content">
						<ul id="mobile-nav" class="nav nav-font-size">
							<li>
								<a class="waves-attach" th:href="@{/project}"><span class="icon margin-right-sm">web_asset</span>&nbsp;PROJECTS</a>
							</li>
							<li>
								<a class="waves-attach" th:href="@{/billing}"><span class="icon margin-right-sm">account_balance_wallet</span>&nbsp;BILLING</a>
							</li>
							<li>
								<a class="collapsed waves-attach" data-toggle="collapse" href="#doc_menu_extras"><span class="icon margin-right-sm">people</span>&nbsp;User Access</a>
								<ul class="menu-collapse collapse" id="doc_menu_extras">
									<li>
										<a class="waves-attach" th:href="@{/about}"><span class="icon margin-right-sm">info</span>&nbsp;About</a>
									</li>
									<li>
										<a class="waves-attach" th:href="@{/setting}" ><span class="icon margin-right-sm">settings</span>&nbsp;Account setting</a>
									</li>
									<li>
										<a class="waves-attach" th:href="@{/logout}" onclick="deletecookie()"><span class="icon margin-right-sm">exit_to_app</span>&nbsp;Sign out</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</body>
</html>