<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS.id - Dashboard</title>

<link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/css/core.css}" />
<link rel="stylesheet" th:href="@{/resource/css/components.css}" />
<link rel="stylesheet" th:href="@{/resource/css/icons.css}" />
<link rel="stylesheet" th:href="@{/resource/css/pages.css}" />
<link rel="stylesheet" th:href="@{/resource/css/responsive.css}" />

<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script th:src="@{/resource/js/modernizr.min.js}"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
<!--
	function checkPasswordMatch() {
		var password = $("#newPassword").val();
		var confirmPassword = $("#confirmNewPassword").val();

		if (password != confirmPassword)
			$("#divCheckPasswordMatch").html("Passwords do not match!");
		else
			$("#divCheckPasswordMatch").html("Passwords match.");
	}
//-->
</script>

</head>
<body class="fixed-left">
	<!-- Begin page -->
	<div id="wrapper">

		<div th:replace="fragment/navbar-panel-top :: navbar-panel-top"></div>
		<div th:replace="fragment/navbar-panel-left :: navbar-panel-left"></div>
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h4 class="page-title">Change Password</h4>
							<br />
							<div class="card-box">
								<div class="row">
									<div class="col-lg-3"></div>
									<div class="col-lg-6">

										<form method="post" th:action="@{/setting/save}"
											th:object="${profile}">

											<div class="p-20">
												<!-- <input type="hidden" name="id" th:value="*{id}" /> -->
												<div class="form-group">
													<label for="oldpass">Old Password</label> <input
														type="password" name="oldPassword" class="form-control"
														id="oldpass" placeholder="Enter old password" />
												</div>
												<div class="form-group">
													<label for="newpass">New Password</label> <input
														type="password" name="newPassword" class="form-control"
														id="newPassword" placeholder="Enter new password" />
												</div>
												<div class="form-group">
													<label for="confirmpass">Confirm new Password</label> <input
														type="password" class="form-control"
														id="confirmNewPassword" onkeyup="checkPasswordMatch();"
														placeholder="Confirm new password" />
												</div>
												<div class="registrationFormAlert"
													id="divCheckPasswordMatch"></div>
											</div>
											<button
												class="btn btn-default waves-effect waves-light pull-right"
												type="submit">Change Password</button>
										</form>
									</div>
									<div class="col-lg-3"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- container -->
			</div>
			<!-- content -->
			<footer class="footer"> 2015 © GNEWS. </footer>
		</div>
		<!-- ============================================================== -->
		<!-- End Right content here -->
		<!-- ============================================================== -->

	</div>
	<!-- END wrapper -->

	<script>
		var resizefunc = [];
	</script>

	<!-- jQuery  -->
	<script th:src="@{/resource/js/jquery.min.js}"></script>
	<script th:src="@{/resource/js/bootstrap.min.js}"></script>
	<script th:src="@{/resource/js/detect.js}"></script>
	<script th:src="@{/resource/js/fastclick.js}"></script>
	<script th:src="@{/resource/js/jquery.slimscroll.js}"></script>
	<script th:src="@{/resource/js/jquery.blockUI.js}"></script>
	<script th:src="@{/resource/js/waves.js}"></script>
	<script th:src="@{/resource/js/wow.min.js}"></script>
	<script th:src="@{/resource/js/jquery.nicescroll.js}"></script>
	<script th:src="@{/resource/js/jquery.scrollTo.min.js}"></script>
	<script th:src="@{/resource/js/jquery.core.js}"></script>
	<script th:src="@{/resource/js/jquery.app.js}"></script>

	<script th:src="@{/resource/plugins/waypoints/lib/jquery.waypoints.js}"></script>
	<script th:src="@{/resource/plugins/counterup/jquery.counterup.min.js}"></script>
	<script th:src="@{/resource/plugins/morris/morris.min.js}"></script>
	<script th:src="@{/resource/plugins/raphael/raphael-min.js}"></script>
	<script th:src="@{/resource/plugins/jquery-knob/jquery.knob.js}"></script>
	<script th:src="@{/resource/plugins/peity/jquery.peity.min.js}"></script>

	<script th:src="@{/resource/pages/jquery.dashboard.js}"></script>

	<script
		th:src="@{/resource/plugins/bootstrap-filestyle/src/bootstrap-filestyle.min.js}"
		type="text/javascript"></script>

	<script>
		jQuery(document)
				.ready(
						function() {

							//advance multiselect start
							$('#my_multi_select3')
									.multiSelect(
											{
												selectableHeader : "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'/>",
												selectionHeader : "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'/>",
												afterInit : function(ms) {
													var that = this, $selectableSearch = that.$selectableUl
															.prev(), $selectionSearch = that.$selectionUl
															.prev(), selectableSearchString = '#'
															+ that.$container
																	.attr('id')
															+ ' .ms-elem-selectable:not(.ms-selected)', selectionSearchString = '#'
															+ that.$container
																	.attr('id')
															+ ' .ms-elem-selection.ms-selected';

													that.qs1 = $selectableSearch
															.quicksearch(
																	selectableSearchString)
															.on(
																	'keydown',
																	function(e) {
																		if (e.which === 40) {
																			that.$selectableUl
																					.focus();
																			return false;
																		}
																	});

													that.qs2 = $selectionSearch
															.quicksearch(
																	selectionSearchString)
															.on(
																	'keydown',
																	function(e) {
																		if (e.which == 40) {
																			that.$selectionUl
																					.focus();
																			return false;
																		}
																	});
												},
												afterSelect : function() {
													this.qs1.cache();
													this.qs2.cache();
												},
												afterDeselect : function() {
													this.qs1.cache();
													this.qs2.cache();
												}
											});

							// Select2
							$(".select2").select2();

							$(".select2-limiting").select2({
								maximumSelectionLength : 2
							});

							$('.selectpicker').selectpicker();
							$(":file").filestyle({
								input : false
							});
						});

		//Bootstrap-TouchSpin
		$(".vertical-spin").TouchSpin({
			verticalbuttons : true,
			verticalupclass : 'ion-plus-round',
			verticaldownclass : 'ion-minus-round'
		});
		var vspinTrue = $(".vertical-spin").TouchSpin({
			verticalbuttons : true
		});
		if (vspinTrue) {
			$('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
		}

		$("input[name='demo1']").TouchSpin({
			min : 0,
			max : 100,
			step : 0.1,
			decimals : 2,
			boostat : 5,
			maxboostedstep : 10,
			postfix : '%'
		});
		$("input[name='demo2']").TouchSpin({
			min : -1000000000,
			max : 1000000000,
			stepinterval : 50,
			maxboostedstep : 10000000,
			prefix : '$'
		});
		$("input[name='demo3']").TouchSpin();
		$("input[name='demo3_21']").TouchSpin({
			initval : 40
		});
		$("input[name='demo3_22']").TouchSpin({
			initval : 40
		});

		$("input[name='demo5']").TouchSpin({
			prefix : "pre",
			postfix : "post"
		});
		$("input[name='demo0']").TouchSpin({});

		//Bootstrap-MaxLength
		$('input#defaultconfig').maxlength()

		$('input#thresholdconfig').maxlength({
			threshold : 20
		});

		$('input#moreoptions').maxlength({
			alwaysShow : true,
			warningClass : "label label-success",
			limitReachedClass : "label label-danger"
		});

		$('input#alloptions').maxlength({
			alwaysShow : true,
			warningClass : "label label-success",
			limitReachedClass : "label label-danger",
			separator : ' out of ',
			preText : 'You typed ',
			postText : ' chars available.',
			validate : true
		});

		$('textarea#textarea').maxlength({
			alwaysShow : true
		});

		$('input#placement').maxlength({
			alwaysShow : true,
			placement : 'top-left'
		});
	</script>

</body>
</html>