<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS.io - Dashboard</title>

<link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/css/core.css}" />
<link rel="stylesheet" th:href="@{/resource/css/components.css}" />
<link rel="stylesheet" th:href="@{/resource/css/icons.css}" />
<link rel="stylesheet" th:href="@{/resource/css/pages.css}" />
<link rel="stylesheet" th:href="@{/resource/css/responsive.css}" />

<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script th:src="@{/resource/js/modernizr.min.js}"></script>
</head>
<body>
	<div class="wrapper-page">
		<div class="ex-page-content text-center">
			<div class="text-error">
				<span class="text-primary">4</span><i class="ti-face-sad text-pink"></i><span
					class="text-info">4</span>
			</div>
			<h2>Who0ps! Page not found</h2>
			<p class="text-muted">This page cannot found or is missing.</p>
			<p class="text-muted">Use the navigation above or the button
				below to get back and track.</p>
			<a class="btn btn-default waves-effect waves-light" href="/">
				Return Home</a>
		</div>
	</div>
</body>
<script>
	var resizefunc = [];
</script>


	<!-- jQuery  -->
	<script th:src="@{/resource/js/jquery.min.js}"></script>
	<script th:src="@{/resource/js/bootstrap.min.js}"></script>
	<script th:src="@{/resource/js/detect.js}"></script>
	<script th:src="@{/resource/js/fastclick.js}"></script>
	<script th:src="@{/resource/js/jquery.slimscroll.js}"></script>
	<script th:src="@{/resource/js/jquery.blockUI.js}"></script>
	<script th:src="@{/resource/js/waves.js}"></script>
	<script th:src="@{/resource/js/wow.min.js}"></script>
	<script th:src="@{/resource/js/jquery.nicescroll.js}"></script>
	<script th:src="@{/resource/js/jquery.scrollTo.min.js}"></script>
	<script th:src="@{/resource/js/jquery.core.js}"></script>
	<script th:src="@{/resource/js/jquery.app.js}"></script>

	<script th:src="@{/resource/plugins/waypoints/lib/jquery.waypoints.js}"></script>
	<script th:src="@{/resource/plugins/counterup/jquery.counterup.min.js}"></script>
	<script th:src="@{/resource/plugins/morris/morris.min.js}"></script>
	<script th:src="@{/resource/plugins/raphael/raphael-min.js}"></script>
	<script th:src="@{/resource/plugins/jquery-knob/jquery.knob.js}"></script>
	<script th:src="@{/resource/plugins/peity/jquery.peity.min.js}"></script>

	<script th:src="@{/resource/pages/jquery.dashboard.js}"></script>

</html>