<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS.io - Dashboard</title>

<link rel="stylesheet" th:href="@{/resource/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/resource/css/core.css}" />
<link rel="stylesheet" th:href="@{/resource/css/components.css}" />
<link rel="stylesheet" th:href="@{/resource/css/icons.css}" />
<link rel="stylesheet" th:href="@{/resource/css/pages.css}" />
<link rel="stylesheet" th:href="@{/resource/css/responsive.css}" />

<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		        <![endif]-->

<script th:src="@{/resource/js/modernizr.min.js}"></script>
</head>
<body class="fixed-left" th:inline="text">
	<!-- Begin page -->
	<div id="wrapper">

		<div th:replace="fragment/navbar-panel-top :: navbar-panel-top"></div>
		<div th:replace="fragment/navbar-panel-left :: navbar-panel-left"></div>
		<!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="wraper container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<div class="bg-picture text-center">
								<div class="bg-picture-overlay"></div>
								<div class="profile-info-name">
									<img th:src="@{/resource/images/users/avatar-7.jpg}"
										class="thumb-lg img-circle img-thumbnail" alt="profile-image" />
									<h4 class="m-b-5">
										<b th:text="${profile.fullname}"></b>
									</h4>
									<!-- <a href="change-ava.html" th:href="@{/change-ava}">Change Avatar</a> -->
								</div>
							</div>
							<!--/ meta -->
						</div>

						<div class="card-box m-t-20">
							<h4 class="m-t-0 header-title">
								<b>Personal Information</b>
							</h4>
							<div class="p-20">

								<div class="about-info-p">
									<strong>Email</strong> <br />
									<p class="text-muted" th:text="${profile.email}"></p>
								</div>
								<div class="about-info-p">
									<strong>Password</strong> <br />
									<p class="text-muted">
										<span>******</span> <br />
										<br /> <a
											th:href="@{/setting/edit?id=}+${profile.accountId}">Change
											Password</a>
									</p>
								</div>
							</div>
						</div>

						<div class="wraper container-fluid">
							<div class="row">
								<div class="col-sm-6">
									<div class="bg-picture text-center">
										<div class="bg-picture-overlay"></div>

									</div>
									<!--/ meta -->
								</div>

								<div class="card-box m-t-20">
									<h4 class="m-t-0 header-title"></h4>
									<div class="p-20">
										<div class="about-info-p">
											<h2>
												<strong>Default Price</strong> <br />
											</h2>
											<h3>
												<strong class="text-muted">
													[['Rp' + ' ' + ${#numbers.formatDecimal(profile.defaultPrice, 0, 'COMMA', 0, 'POINT')}]]</strong>													
											</h3>
										</div>
										<div class="about-info-p">
											<p class="text-muted">
										<a th:href="@{/setting/editprice?id=}+${profile.accountId}">Change
												Default Price</a>
										</p>
										</div>
									</div>

								</div>
							</div>
							<!-- row -->
						</div>
					</div>
					<!-- row -->
				</div>
				<!-- wraper container-fluid -->
			</div>
			<!-- content -->
			<footer class="footer"> 2015 © GNEWS. </footer>
		</div>
		<!-- ============================================================== -->
		<!-- End Right content here -->
		<!-- ============================================================== -->
	</div>
	<!-- END wrapper -->
	<script>
		var resizefunc = [];
	</script>

	<!-- jQuery  -->
	<script th:src="@{/resource/js/jquery.min.js}"></script>
	<script th:src="@{/resource/js/bootstrap.min.js}"></script>
	<script th:src="@{/resource/js/detect.js}"></script>
	<script th:src="@{/resource/js/fastclick.js}"></script>
	<script th:src="@{/resource/js/jquery.slimscroll.js}"></script>
	<script th:src="@{/resource/js/jquery.blockUI.js}"></script>
	<script th:src="@{/resource/js/waves.js}"></script>
	<script th:src="@{/resource/js/wow.min.js}"></script>
	<script th:src="@{/resource/js/jquery.nicescroll.js}"></script>
	<script th:src="@{/resource/js/jquery.scrollTo.min.js}"></script>

	<script th:src="@{/resource/js/jquery.core.js}"></script>
	<script th:src="@{/resource/js/jquery.app.js}"></script>

</body>
</html>