<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="initial-scale=1.0, width=device-width" name="viewport"/>
	<link rel="icon" th:href="@{/resource/images/favicon.png}" />
	<title>GNEWS Analytics - Social Media News</title>

	<!-- css -->
	<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/font-awesome.min.css}" rel="stylesheet" />
	
	<!-- css for this project -->
	<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet"/>
	<link th:href="@{/resource/analytics/css/project.css}" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/resource/css/project.css}" />
	<!-- css for date range picker  -->
	<link th:href="@{/resource/analytics/css/daterangepicker.css}" rel="stylesheet"/>
	
	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="url_config_analytics">
		<a href="#" id="project_id" th:text="${project.id}"></a>
		<a href="#" id="project_name" th:text="${project.name}"></a>
		<a href="#" id="startDates" th:text="${start}"></a>
		<a href="#" id="endDates" th:text="${end}"></a>
		<a th:href="@{/api/report/}" id="apiReport"></a>
    </div>
	
	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	
	<div th:replace="analytics/fragment/analytics-sidebar :: analytics-sidebar">&nbsp;</div>
	
	<div th:replace="analytics/mobile/fragment/analytics-delete-project :: analytics-delete-project">&nbsp;</div>

	<div class="row">
	
	<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>
	
	<div class="content">
		
		<div th:replace="analytics/fragment/analytics-header :: analytics-header">&nbsp;</div>

		<div id="analytics-wrapper" class="container">
			<div class="row">
				<div class="col-sm-12 padding-less">
					<section class="content-inner">
						
						<div th:replace="analytics/fragment/analytics-navbar-inner :: analytics-navbar-inner">&nbsp;</div>
						
						<div class="tab-content">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="el-loading" id="el-loading-5">
									<div class="el-loading-indicator">
										<div class="progress progress-position-absolute-top">
											<div class="progress-bar-indeterminate"></div>
										</div>
									</div>
									<div class="card noshadow">
										<div class="card-main">
											<div class="card-inner">
												<div class="row">
													<div id="head-progress">
														<div class="col-sm-6" style="padding: 0 30px;">
															<div class="mediaTitleBox" style="height:34px;border-bottom:solid 1px #dfdfdf;margin-bottom: 20px;">
																<div class="col-xs-7 no-padding"><h4>Media</h4></div>
																<div class="col-xs-5 no-padding pull-right text-right" style="color: #9d9d9d;font-size: 13px;margin-top: 7px;">
																	<b>Positive</b>&nbsp;
																	<a style="padding: 0px 4px; background-color: #0f94f6;color: #0f94f6;border-radius: 50%;">o</a>
																</div>
															</div>
															<div id="mediaContentPositive"></div>
														</div>
														<div class="col-sm-6" style="padding: 0 30px;">
															<div class="mediaTitleBox" style="height:34px;border-bottom:solid 1px #dfdfdf;margin-bottom: 20px;">
																<div class="col-xs-7 no-padding"><h4>Media</h4></div>
																<div class="col-xs-5 no-padding pull-right text-right" style="color: #9d9d9d;font-size: 13px;margin-top: 7px;">
																	<b>Negative</b>&nbsp;
																	<a style="padding: 0px 4px; background-color: #f72a2a;color: #f72a2a;border-radius: 50%;">o</a>
																</div>
															</div>
															<div id="mediaContentNegative"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div th:replace="fragment/modal-add-project :: modal-add-project"></div>	

	<!-- js -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>

	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>
	
	<script th:src="@{/resource/analytics/js/jquery.number.js}"></script>
	<script th:src="@{/resource/analytics/js/moment-with-langs.js}"></script>
	
	<!-- Date Range Picker Plugin -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script th:src="@{/resource/analytics/js/daterangepicker.js}"></script>

	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(window).load(function() {
			$("#el-loading-5").addClass("el-loading-done");
		});
	
		var startDate = '';
		var endDate = '';
		var totalMedia = '';
	
		if($('#startDates').text().length == 0) {
			startDate = moment().subtract(7, 'days').format('YYYY-MM-DD');
			endDate = moment().format('YYYY-MM-DD');
		} else {
			startDate = $('#startDates').text();
			endDate = $('#endDates').text();
		}
		
		$('.date_pick').val(moment(startDate).format('YYYY-MM-DD') + " - " + moment(endDate).format('YYYY-MM-DD'));
		
		var projectName = $('#project_name').text();
		var idProject = $('#project_id').text();
		var addrMediaCount = $('#apiReport').attr('href') + idProject + "/media-count?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;  
		var addrArticleCount = $('#apiReport').attr('href') + idProject + "/article-count?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate;
		var addrMedia			= $('#apiReport').attr('href') + idProject + "/most-media/popular/";
		var addrMediaPositive = $('#apiReport').attr('href') + idProject + "/most-media/popular/positive?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate + "&limit=20";
		var addrMediaNegative = $('#apiReport').attr('href') + idProject + "/most-media/popular/negative?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate + "&limit=20";
		var deleteUrl = $('#apiProjectDelete').attr('href');
		
		function mediaCount(){
        	$.ajax({
       	      type: "GET",
   	          url: addrMediaCount,                                
   	          data: "",
   	      	  dataType: "json",
   	       	  cache: false,
   	      	  beforeSend : function(){
   	      		  
   	      	  },
   	          success : function(data){
   	        	
   	          },complete : function(data){   	        	
   	        	var obj = JSON.parse(data.responseText);
   	        	var value = $.number(obj.data);
			    $('#contributor').number(value);
   	          }
       	   });
    	}
		
		function articleMapping(){
        	$.ajax({
       	      type: "GET",
   	          url: addrArticleCount,                                
   	          data: "",
   	      	  dataType: "json",
   	       	  cache: false,
   	      	  beforeSend : function(){
   	      	  },
   	          success : function(data){
   	        	
   	          },complete : function(data){   	        	
   	        	var obj = JSON.parse(data.responseText);
   	        	totalMedia = obj.data;
   	        	var values = $.number(obj.data);
			    $('.post').number(values);
			    
			    loadData("positive");
			    loadData("negative");
   	          }
       	   });
    	}
		
		function loadData (sentiment){
			$.ajax({
  				 type: "GET",
  			     url: addrMedia + sentiment +"?accessToken=" +  $('#access_token').text() + "&start=" + startDate + "&end=" + endDate + "&limit=20",
  			     data: '',		     				     				         
  		         beforeSend: function() { 				        	 
  		         },  		        
  		         success: function(json){
  		        	var content = [];
  		        	$.each(json.data, function(){
  		        		function setElement(item){
  		        			var flag = '';
  	   		        		if(item.countryName.length == ""){
  			       		    	flag = '<div class="col-xs-4 no-padding text-left">'+
	   			       		  				'N/A'+
			   							'</div>';
  			       		    }else{
  			       		    	flag = '<div class="col-xs-1 no-padding text-right">'+
		   			       		  			'<span><img src="'+[[@{/resource/analytics/images/flags/}]]+''+item.countryName+'.png" style="margin-bottom: 4px;" /></span>'+
			   							'</div>'+
			   							'<div class="col-xs-3 no-padding text-left">'+
			   								$.number(item.countryRank)
			   							'</div>';
  			       		    }
  	   		        		
  	   		        		if(sentiment === "positive"){
  	   		        			var color = '2391fe';
  	   		        		}else{
  	   		        			var color = 'f72a2a';
  	   		        		}
  		        			var elems = '<div id="mediaMapping-row" class="row">'+
					   						'<div class="col-xs-12 no-padding mediaMapping-text" ><b>'+item.domain+'</b></div>'+
					   						'<div class="row">'+
						   						'<div class="col-xs-12 no-padding">'+
						   							'<div class="col-xs-5 no-padding text-right">'+
						   								'<span><img src="'+[[@{/resource/analytics/images/ic_alexa_globe.jpg}]]+'" style="margin-bottom: 4px;" /></span>'+
						   							'</div>'+
						   							'<div class="col-xs-3 no-padding text-left">'+
						   								$.number(item.globalRank)+
						   							'</div>'+
						   							flag+
						   						'</div>'+
					   						'<div>'+
					   						'<div class="col-xs-12 no-padding">'+
					   							'<div class="progress">'+
					   								'<div class="progress-bar" style="background-color: #'+ color +'; width: '+ (item.value / totalMedia * 100) +'%"></div>'+
					   								'<span style="font-size: 12px;">'+item.value+' ('+ $.number((item.value / totalMedia * 100), 2) +'%)</span>'+
					   							'</div>'+
					   						'</div>'+
					   					'</div>';
		   					
		   						return elems;
		   	  	       		}
  		        			content.push($(setElement(this)));
  		        		});
  		        	if(sentiment === "positive"){
  		        		$('#mediaContentPositive').append(content);
  		        	}else if(sentiment === "negative"){
  		        		$('#mediaContentNegative').append(content);
  		        	}
		        		
  				 }
  			});
		}
		
		function deleteProject(){
			var registerObj = {          
				projectId : idProject,
				accessToken : $('#access_token').text()
		    };     
			console.log(JSON.stringify(registerObj));
			return $.ajax({
			    url : deleteUrl,
			    type: "POST",
			    async: false,
			    data : JSON.stringify(registerObj),
			    contentType: "application/json; charset=utf-8",
			    dataType: "json",
	   	       	cache: false,
		      	success:function(data){
		      		console.log(data);
		      	},
		      	error(data){
		      		console.log(data);
		      	}
			}); 
		}
		
		$(document).ready(function(){
			mediaCount();
			articleMapping();
			$('.post').number();
        	$('#contributor').number();
        	$('input[name="daterange"]').daterangepicker(
        			{
        			    locale: {
        			      format: 'YYYY-MM-DD'
        			    },        			    
        			}, 
        			function(start, end, label) {
        			    startDate = start.format('YYYY-MM-DD');
        			    endDate = end.format('YYYY-MM-DD');   
        			    
        			});    
        	    
        	$('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
        		document.getElementById("startDates").value = startDate;
     			document.getElementById("endDates").value = endDate;
     			redirect = idProject + '/dashboard/media-mapping?start=' + startDate + '&end=' + endDate;
     			window.location = '/project/'+redirect;
        	});
		});
	/*]]>*/
	</script>
</body>
</html>