<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="initial-scale=1.0, width=device-width" name="viewport" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS Pro - Digital PR Solution</title>

<!-- css -->
<link th:href="@{/resource/analytics/css/font-awesome.min.css}"
	rel="stylesheet" />
<!-- css for this project -->
<link th:href="@{/resource/analytics/css/base.css}" rel="stylesheet" />

<!-- styling in detail project  -->
<link th:href="@{/resource/analytics/css/fullcalendar.css}"
	rel="stylesheet" />
<link th:href="@{/resource/analytics/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/resource/css/project.css}" />

<!-- css for date range picker  -->
<link th:href="@{/resource/analytics/css/daterangepicker.css}"
	rel="stylesheet" />

<link th:href="@{/resource/css/jquery.circliful.css}" rel="stylesheet" />

<!-- DataTables -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" />

<!-- css for datatable styling -->
<link rel="stylesheet" th:href="@{/resource/css/datatable-style.css}" />

<style>
	a:hover, a:focus {
		text-decoration: none;
	}
</style>

<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body th:inline="text">
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div
			class="progress-circular progress-circular-alt progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragment/mc-navbar :: mc-navbar">&nbsp;</div>
	<div class="hidden-sm hidden-md hidden-lg" th:replace="fragment/mobile-navbar :: mobile-navbar">&nbsp;</div>

	<div class="row">
	
	<div th:replace="fragment/analytic-leftbar :: analytic-leftbar">&nbsp;</div>

	<div class="content">
	
	<div id="inner-wrapper-shorter" class="container">
				<div class="row">
					<div class="col-sm-12 padding-less">
						<div class="content-head">
							<ul>
								<li><i class="fa fa-envelope-o icon-head"
									aria-hidden="true"></i></li>
								<li><h1>Email Marketing</h1></li>
								<li></li>
							</ul>
						</div>
					</div>

					<section class="content-inner">
						<div
							th:replace="marketing-mail/fragment/mail-navbar-inner :: mail-navbar-inner">&nbsp;</div>
						<div class="col-sm-12 padding-less">
							<div class="tab-pane active fade in" id="tab-keyword">
								<div class="card noshadow auto-height" id="reportDashboard">
									<h3>
										<span th:text="${data.subject}"></span>
									</h3>
									
									<div class="blast-detail" style="margin-top: 30px">
										<h5>
											Delivered on: <span  th:text="${#dates.format(data.sendDate, 'dd MMM yyyy HH:mm')}"></span>
										</h5>
										<h5>
											Group recipient: <span th:text="${data.emailGroup.name}"></span>
										</h5>
										<h5>
											Total recipients: <span th:text="${data.emailGroup.memberCount}"></span>
										</h5>
									</div>
									<div class="col-sm-12 text-center">
										<div class="col-sm-3">
											<div class="box-model">
												<div class="row">
													<div class="col-xs-4 box-content">
														<i class="fa fa-paper-plane icon-biggest"
															aria-hidden="true"></i>
													</div>
													<div class="col-xs-8">
														<a th:href="@{/project/}+${project.id}+@{/mail/marketing/delivered/}+${data.id}"><h3 class="biru" id="deliveryRate">0%</h3></a>
														<span>Delivery rate</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="box-model">
												<div class="row">
													<div class="col-xs-4 box-content">
														<i class="fa fa-check-circle-o icon-biggest"
															aria-hidden="true"></i>
													</div>
													<div class="col-xs-8">
														<a th:href="@{/project/}+${project.id}+@{/mail/marketing/opened/}+${data.id}"><h3  class="biru" id="openRate">0%</h3></a>
														<span>Open rate</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="box-model">
												<div class="row">
													<div class="col-xs-4 box-content">
														<i class="fa fa-link icon-biggest" aria-hidden="true"></i>
													</div>
													<div class="col-xs-8">
														<a th:href="@{/project/}+${project.id}+@{/mail/marketing/clicks/}+${data.id}"><h3 class="biru" id="clickRate">0%</h3></a>
														<span>Click rate</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="box-model">
												<div class="row">
													<div class="col-xs-4 box-content">
														<i class="fa fa-link icon-biggest" aria-hidden="true"></i>
													</div>
													<div class="col-xs-8">
														<a th:href="@{/project/}+${project.id}+@{/mail/marketing/delivered/}+${data.id}"><h3 class="biru" id="unsubscribeRate">0%</h3></a>
														<span>Unsubscribe</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<h4>Open stat</h4>
									<div id="generalStat"></div>
									<h4>Country</h4>
									<div class="row">
										<div class="col-sm-6 text-center">
											<ul id="countryLegend" class="list-inline chart-detail-list text-center">
		                            		</ul>
		                                    <canvas id="countryChart" height="200"></canvas>
										</div>
										<div class="col-sm-6">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap"
												width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Country</th>
														<th width="20%">Total</th>
														<th width="20%">Percentage</th>
													</tr>
												</thead>
												<tbody id="countryList">
												</tbody>
											</table>
										</div>
									</div>
									
									<h4>Browser</h4>
									<div class="row">
										<div class="col-sm-6 text-center">
											<ul id="browserLegend" class="list-inline chart-detail-list text-center">
		                            		</ul>
		                                    <canvas id="browserChart" height="200"></canvas>
										</div>
										<div class="col-sm-6">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap"
												width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Browser</th>
														<th width="20%">Total</th>
														<th width="20%">Percentage</th>
													</tr>
												</thead>
												<tbody id="browserList">
												</tbody>
											</table>
										</div>
									</div>
									
									<h4>Device</h4>
									<div class="row">
										<div class="col-sm-6 text-center">
											<ul id="deviceLegend" class="list-inline chart-detail-list text-center">
		                            		</ul>
		                                    <canvas id="deviceChart" height="200"></canvas>
										</div>
										<div class="col-sm-6">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap"
												width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Device</th>
														<th width="20%">Total</th>
														<th width="20%">Percentage</th>
													</tr>
												</thead>
												<tbody id="deviceList">
												</tbody>
											</table>
										</div>
									</div>
									
									<h4>OS</h4>
									<div class="row">
										<div class="col-sm-6 text-center">
											<ul id="osLegend" class="list-inline chart-detail-list text-center">
		                            		</ul>
		                                    <canvas id="osChart" height="200"></canvas>
										</div>
										<div class="col-sm-6">
											<table id="blastList"
												class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
												<thead>
													<tr>
														<th width="5%">No</th>
														<th width="55%">Operating system</th>
														<th width="20%">Total</th>
														<th width="20%">Percentage</th>
													</tr>
												</thead>
												<tbody id="osList">
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- js for this project -->
	<script th:src="@{/resource/analytics/js/jquery.min.js}"></script>
	<script th:src="@{/resource/analytics/js/base.min.js}"></script>
	<script th:src="@{/resource/analytics/js/project.min.js}"></script>

	<!-- Chart Plugin -->
	<script th:src="@{/resource/analytics/js/highcharts.js}"></script>
	<script th:src="@{/resource/analytics/js/exporting.js}"></script>

	<script th:src="@{/resource/analytics/js/underscore.js}"></script>
	<script th:src="@{/resource/analytics/js/moment-with-langs.js}"></script>

	<script th:src="@{/resource/js/jquery.circliful.min.js}"></script>
	
	<!-- Chart js -->
	<script th:src="@{/resource/analytics/assets/Chart.js/Chart.min.js}"></script>
	<!-- <script th:src="@{/resource/analytics/js/chartjs.init.js}"></script> -->

	<!-- Data Tables -->
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$.extend($.fn.dataTable.defaults, {
			responsive : true
		});

		var addrPeakHour 	= [[@{/api/track/group/peak?groupId=}]] + [[${data.groupId}]];
		var addrDelivery 	= [[@{/api/track/group/member?groupId=}]] + [[${data.groupId}]];
		var addrOpen 	 	= [[@{/api/track/group/visit/unique?groupId=}]] + [[${data.groupId}]];
		var addrClick 	 	= [[@{/api/track/group/click?groupId=}]] + [[${data.groupId}]];
		
		var addrCountry	 	= [[@{/api/track/group/country?groupId=}]] + [[${data.groupId}]];
		var addrBrowser  	= [[@{/api/track/group/browser?groupId=}]] + [[${data.groupId}]];
		var addrDevice 	 	= [[@{/api/track/group/device?groupId=}]] + [[${data.groupId}]];
		var addrOS 			= [[@{/api/track/group/os?groupId=}]] + [[${data.groupId}]];
		
		var memberCount		= [[${data.emailGroup.memberCount}]]; 
	    
		var deliveryCount 	= 0; 
	    var openCount		= 0; 
	    var clickCount 		= 0;
	    var content 		= [];
	    var color 			= ["#5d9cec", "#5fbeaa", "#ff7575", "#00a0dc", "#ebeff2", "#36404a"];
	    
	    console.log([[${data.groupId}]]);
			    
		function getPeaktime(container){
        	var peaktime = [];
        	$.ajax({
				 type: "GET",
			     url: addrPeakHour,
			     data: '',		     				     				         
		         success: function(data){
		        	 var values = '';
			    	 var getFirst = 0;
			    	 var n = 0;
			    	 $.each(data, function(i, item){
			    		 peaktime.push([item.id, item.value]);
			    		 n++; });
		    		 peaktime.sort();
		         	 $(container).highcharts({
		         		title: {
		                    text: ''
		                },
		                chart: {
		                    zoomType: 'x'
		                },
		                credits: {
		                    enabled: false
		                },
		                xAxis: {
		                    type: 'datetime',
		                    dateTimeLabelFormats: {
		                       day: '%a %d/%b',
		                       millisecond: '%H:%M:%S.%L',
		                       second: '%H:%M:%S',
		                       minute: '%H:%M',
		                       hour: '%H:%M',
		                       week: '%e %b',
		                       month: '%b \'%y',
		                       year: '%Y'
		                    }
		                },
		                yAxis: {
		                    title: {
		                        text: null
		                    }
		                },
		                tooltip: {
		                	formatter: function() {
		                		return moment(this.x).format('MMM DD, YYYY HH:mm') +'<br/><b>' + this.y + '</b> visit ';
	                        }
		                },
		                legend: {
		                	align: 'right',
	    	                verticalAlign: 'top',
	    	                y: 0,
	    	                x: -40,
	    	                floating: true,
	    	                borderWidth: 0
		                },
		                plotOptions: {
		                    series: {
		                        cursor: 'pointer',
		                        point: {
		                            events: {
		                                click: function (e) {
		                                	currentPeak = this.x;
		                                	$('html, body').animate({
			 		                            scrollTop: $("#grid").offset().top - 80
			 		                        }, 500);
		                                }
		                            }
		                        },
		                        marker: {
		                            lineWidth: 1
		                        }
		                    }
		                },
		                subtitle: {
		                    text: 'Click and drag to zoom in.'
		                },
		                series: [{
		                    name: 'Visit Time',
		                    data: _.unique(peaktime),
		                    zIndex: 1,
		                    marker: {
		                    	fillColor: 'white',
			                    lineWidth: 2,
			                    lineColor: Highcharts.getOptions().colors[0]
		                    }
		                }]
		             });
			     }
			});
		}
	    
		function getDeliveryRate(container){
			$.ajax({
				type: "GET",
				url: addrDelivery,
				data: '',
				success: function(data){
					deliveryCount = data;
					var percent = Math.round(((deliveryCount / memberCount) * 100) * 100) / 100;
					$(container).text(percent + '%');
					getOpenRate('#openRate');
					getClickRate('#clickRate');
				}
			});
		}

		function getOpenRate(container){
			$.ajax({
				type: "GET",
				url: addrOpen,
				data: '',
				success: function(data){
					var percent = Math.round(((data / deliveryCount) * 100) * 100) / 100;
					$(container).text(percent + '%');
				}
			});
		}

		function getClickRate(container){
			$.ajax({
				type: "GET",
				url: addrClick,
				data: '',
				success: function(data){
					var percent = Math.round(((data / deliveryCount) * 100) * 100) / 100;
					$(container).text(percent + '%');
				}
			});
		}

		function getUnsubscribeRate(container){
			$.ajax({
				type: "GET",
				url: addrUnsubscribe,
				data: '',
				success: function(data){
					$(container).text('0%');
				}
			});
		}
		
		function getTotalData(){
			var total = 0;
			$.ajax({
				type: "GET", 
				url: addrCountry,
				data: '',
				success: function(json){
					$.each(json, function(i, item){
						total = total +item.value;
		    		});
					//getData(total, addrCountry, "countryList", "chart-detail-list");
					getCountryData(total);
					getBrowserData(total);
					getDeviceData(total);
					getOsData(total);
				}
			});
		}
		
		/* function getData (totalData, addr, tableCont, legendCont){
			countryData = [];
			$.ajax({
				type: "GET", 
				url: addr,
				data: '',
				success: function(json){
					$.each(json, function(i, item){
						var data = {};
						data.label = item.term;
						data.color = color[i];
						data.highlight = data.color;
						data.value = item.value;
						countryData.push(data);
		    		});
					console.log(countryData);
					var container = '"'+ tableCont +'"';
					console.log(container);
					var myPie = new Chart(document.getElementById("countryList").getContext("2d")).Doughnut(countryData);
					
					var no = 0;
					$.each(json, function( j, data ) {
						function setElement(data){
							var percentage = data.value/ totalData *100;
							no = no+1;
						 	var elems = '<tr>'+
									'<td class="text-center">'+ no +'</td>'+
									'<td>'+ data.term +'</td>'+
									'<td class="text-center">'+ data.value +'</td>'+
									'<td class="text-center">'+ percentage.toFixed(2) +'%</td>'+
								'</tr>';
								
							return elems;
							}
						
						function setDetail(data){
							var legend = '<li><h6><i class="fa fa-circle m-r-5" style="color:'+ color[j] +'"></i>'+ data.term +'</h6></li>';
							return legend;
						}
						var element = setElement(data);
						var legend = setDetail(data);
						$('#'+ tableCont +'').append(element);
						$('.'+ legendCont +'').append(legend);
						});
				}
			});
		} */
		
		function getCountryData(totalData){
			var countryData = [];
			var legends = [];
			$.ajax({
				type: "GET", 
				url: addrCountry,
				data: '',
				success: function(json){
					$.each(json, function(i, item){
						var data = {};
						data.label = item.term;
						data.color = color[i];
						data.highlight = data.color;
						data.value = item.value;
						countryData.push(data);
		    		});
					var myPie = new Chart(document.getElementById("countryChart").getContext("2d")).Doughnut(countryData);
					
					var no = 0;
					$.each(json, function( j, data ) {
						function setElement(data){
							var percentage = data.value/ totalData *100;
							no = no+1;
						 	var elems = '<tr>'+
									'<td class="text-center">'+ no +'</td>'+
									'<td>'+ data.term +'</td>'+
									'<td class="text-center">'+ data.value +'</td>'+
									'<td class="text-center">'+ percentage.toFixed(2) +'%</td>'+
								'</tr>';
								
							return elems;
							}
						
						function setDetail(data){
							var legend = '<li><h6><i class="fa fa-circle m-r-5" style="color:'+ color[j] +'"></i>'+ data.term +'</h6></li>';
							return legend;
						}
						var element = setElement(data);
						var legend = setDetail(data);
						$('#countryList').append(element);
						$('#countryLegend').append(legend);
						});
				}
			});
		}
		
		function getBrowserData(totalData){
			browserData = [];
			$.ajax({
				type: "GET", 
				url: addrBrowser,
				data: '',
				success: function(json){
					$.each(json, function(i, item){
						var data = {};
						data.label = item.term;
						data.color = color[i];
						data.highlight = data.color;
						data.value = item.value;
						browserData.push(data);
		    		});
					var myPie = new Chart(document.getElementById("browserChart").getContext("2d")).Doughnut(browserData);
					
					var no = 0;
					$.each(json, function( j, data ) {
						function setElement(data){
							var percentage = data.value/ totalData *100;
							no = no+1;
						 	var elems = '<tr>'+
									'<td class="text-center">'+ no +'</td>'+
									'<td>'+ data.term +'</td>'+
									'<td class="text-center">'+ data.value +'</td>'+
									'<td class="text-center">'+ percentage.toFixed(2) +'%</td>'+
								'</tr>';
								
							return elems;
							}
						
						function setDetail(data){
							var legend = '<li><h6><i class="fa fa-circle m-r-5" style="color:'+ color[j] +'"></i>'+ data.term +'</h6></li>';
							return legend;
						}
						var element = setElement(data);
						var legend = setDetail(data);
						$('#browserList').append(element);
						$('#browserLegend').append(legend);
						});
				}
			});
		}
		
		function getDeviceData(totalData){
			deviceData = [];
			$.ajax({
				type: "GET", 
				url: addrDevice,
				data: '',
				success: function(json){
					$.each(json, function(i, item){
						var data = {};
						data.label = item.term;
						data.color = color[i];
						data.highlight = data.color;
						data.value = item.value;
						deviceData.push(data);
		    		});
					var myPie = new Chart(document.getElementById("deviceChart").getContext("2d")).Doughnut(deviceData);
					
					var no = 0;
					$.each(json, function( j, data ) {
						function setElement(data){
							var percentage = data.value/ totalData *100;
							no = no+1;
						 	var elems = '<tr>'+
									'<td class="text-center">'+ no +'</td>'+
									'<td>'+ data.term +'</td>'+
									'<td class="text-center">'+ data.value +'</td>'+
									'<td class="text-center">'+ percentage.toFixed(2) +'%</td>'+
								'</tr>';
								
							return elems;
							}
						
						function setDetail(data){
							var legend = '<li><h6><i class="fa fa-circle m-r-5" style="color:'+ color[j] +'"></i>'+ data.term +'</h6></li>';
							return legend;
						}
						var element = setElement(data);
						var legend = setDetail(data);
						$('#deviceList').append(element);
						$('#deviceLegend').append(legend);
						});
				}
			});
		}
		
		function getOsData(totalData){
			osData = [];
			$.ajax({
				type: "GET", 
				url: addrOS,
				data: '',
				success: function(json){
					$.each(json, function(i, item){
						var data = {};
						data.label = item.term;
						data.color = color[i];
						data.highlight = data.color;
						data.value = item.value;
						osData.push(data);
		    		});
					var myPie = new Chart(document.getElementById("osChart").getContext("2d")).Doughnut(osData);
					
					var no = 0;
					$.each(json, function( j, data ) {
						function setElement(data){
							var percentage = data.value/ totalData *100;
							no = no+1;
						 	var elems = '<tr>'+
									'<td class="text-center">'+ no +'</td>'+
									'<td>'+ data.term +'</td>'+
									'<td class="text-center">'+ data.value +'</td>'+
									'<td class="text-center">'+ percentage.toFixed(2) +'%</td>'+
								'</tr>';
								
							return elems;
							}
						
						function setDetail(data){
							var legend = '<li><h6><i class="fa fa-circle m-r-5" style="color:'+ color[j] +'"></i>'+ data.term +'</h6></li>';
							return legend;
						}
						var element = setElement(data);
						var legend = setDetail(data);
						$('#osList').append(element);
						$('#osLegend').append(legend);
						});
				}
			});
		}
		
		$(document).ready(function() {
			
			/* $('#blastList').DataTable();
			oTable = $('#blastList').DataTable(); */

			$(function() {
				$('.circliful-chart').circliful();
			});
			
			getDeliveryRate('#deliveryRate');
			getPeaktime('#generalStat');
			
			getTotalData();
		});
		/*]]>*/
	</script>
</body>
</html>