<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GNEWS PRO - Your PR Solution</title>
        <meta name="description"
        	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
        <meta name="author" content="GNEWS.ID" />
        <meta name="keywords"
        	content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps" />
        <meta property="og:title" content="GNEWS - Social Media News" />
        <meta property="og:url" content="http://GNEWS.ID" />
        <meta property="og:image" content="@{/resource/images/favicon.png}" />
        <meta property="og:description"
        	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
        <meta property="og:site_name" content="GNEWS.ID" />

        <link rel="icon" th:href="@{/assets/images/favicon.png}" />
        
        <link rel="stylesheet" th:href="@{/assets/plugins/footable/css/footable.core.css}" />
        <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css}" />

        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/core.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/components.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/icons.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/pages.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" />

        <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

		<script th:src="@{/assets/js/modernizr.min.js}"></script>

    </head>


    <body class="fixed-left">
        <div id="wrapper">

            <div th:replace="fragment/pro-topbar :: pro-topbar"></div>
            
            <div th:replace="fragment/pro-leftbar :: pro-leftbar"></div>
            
            <div class="content-page">

                <div class="row">
                  
                  <div th:replace="fragment/teams/pro-team-projects :: pro-team-projects"></div>

                  <div th:replace="fragment/pro-activities :: pro-activities"></div>
                  
                </div>
                
              </div>
              
        </div>
        
        <div th:replace="fragment/pro-footer :: pro-footer"></div>

        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/detect.js}"></script>
        <script th:src="@{/assets/js/fastclick.js}"></script>

        <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/wow.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>

        <script th:src="@{/assets/plugins/peity/jquery.peity.min.js}"></script>

        <script th:src="@{/assets/plugins/morris/morris.min.js}"></script>
        <script th:src="@{/assets/plugins/raphael/raphael-min.js}"></script>
        <script th:src="@{/assets/pages/jquery.dashboard.js}"></script>

        <script th:src="@{/assets/js/jquery.core.js}"></script>
        <script th:src="@{/assets/js/jquery.app.js}"></script>
        
        <script th:src="@{/assets/plugins/footable/js/footable.all.min.js}"></script>
        <script th:src="@{/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
        <script th:src="@{/assets/pages/jquery.footable.js}"></script>
        
        <script type="text/javascript">
            jQuery(document).ready(function($) {

            });
        </script>




    </body>
</html>
