<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>GNEWS PRO - Your PR Solution</title>
        <meta name="description"
        	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
        <meta name="author" content="GNEWS.ID" />
        <meta name="keywords"
        	content="best app for news and reading,best news reader app,best free news reader app,best mobile app,apps,gnews,gnews apps" />
        <meta property="og:title" content="GNEWS - Social Media News" />
        <meta property="og:url" content="http://GNEWS.ID" />
        <meta property="og:image" content="@{/resource/images/favicon.png}" />
        <meta property="og:description"
        	content="GNEWS is a search engine platform to help you find and collect the most recent, curated and relevant news from Social Media - all in one place by using our scalable machine-learning and data analytics technologies called Genesis." />
        <meta property="og:site_name" content="GNEWS.ID" />
        
        <link rel="icon" th:href="@{/assets/images/favicon.png}" />

        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/core.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/components.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/icons.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/pages.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/responsive.css}" />

        <link rel="stylesheet" th:href="@{/assets/css/style.css}" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

		<script th:src="@{/assets/js/modernizr.min.js}"></script>

    </head>


    <body class="fixed-left">
        <div id="wrapper">

            <div th:replace="fragment/pro-topbar :: pro-topbar"></div>

            <div class="main-wrapper">
              <div class="container">

                <div class="row">
                  <div class="col-sm-9">
                  	<div class="row">
                  		<div class="col-xs-9">
                  			<h4 class="page-title">GNEWS Pro Features</h4>
                  		</div>
                  		<div class="col-xs-3 hidden-sm hidden-lg">
                  			<button class="btn btn-icon waves-effect btn-white"> <i class="glyphicon glyphicon-repeat"></i> </button>
                  		</div>
                  	</div>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="dashboard-head">
                          <h5>Features</h5>
                        </div>
                      </div>
                    </div>

                    <div class="row feature-row">
                      <div class="col-sm-2 col-xs-4">
                        <img class="feature-icon" th:src="@{/assets/images/features/ic_gnewspro_digitalclipping.png}"/>
                      </div>
                      <div class="col-sm-7 col-xs-8 feature-detail">
                        <div class="tableview h-150">
                          <div class="verticalcenter">
                            <h3>Digital clipping</h3>
                            <p class="faded-text font-light">Digital clipping will archive every news across the periods and save your time accessing your past news at specific period of time.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 hidden-xs hidden-xx">
                        <div class="row">
                          <a href="#" class="btn-feature btn-block">View</a>
                        </div>
                        <div class="row">
                          <a href="#" class="btn-feature btn-block">Create</a>
                        </div>
                      </div>
                    </div>
                    <div class="row feature-cell hidden-sm hidden-lg">
                    	<div class="col-xs-6 b-r p-0">
	                        <a href="#" class="btn-feature btn-block">View</a>
	                    </div>
	                    <div class="col-xs-6 p-0">
	                    	<a href="#" class="btn-feature btn-block">Create</a>
	                    </div>
	                    <hr/>
                    </div>

                    <div class="row feature-row">
                      <div class="col-sm-2 col-xs-4">
                        <img class="feature-icon" th:src="@{/assets/images/features/ic_gnewspro_digitalclipping.png}"/>
                      </div>
                      <div class="col-sm-7 col-xs-8 feature-detail">
                        <div class="tableview h-150">
                          <div class="verticalcenter">
                            <h3>Media analysis</h3>
                            <p class="faded-text font-light">Receive curated insights of media responses. Continuous monitoring and analysis of the report is a central part of systematic communication control. This will support communication strategies planning and may be used to monitor results achieved through a targeted media.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 hidden-xs hidden-xx">
                        <div class="row">
                          <a href="#" class="btn-feature btn-block">View</a>
                        </div>
                        <div class="row">
                          <a href="#" class="btn-feature btn-block">Create</a>
                        </div>
                      </div>
                    </div>
                    <div class="row feature-cell hidden-sm hidden-lg">
                    	<div class="col-xs-6 b-r p-0">
	                        <a href="#" class="btn-feature btn-block">View</a>
	                    </div>
	                    <div class="col-xs-6 p-0">
	                    	<a href="#" class="btn-feature btn-block">Create</a>
	                    </div>
	                    <hr/>
                    </div>

                    <div class="row feature-row">
                      <div class="col-sm-2 col-xs-4">
                        <img class="feature-icon" th:src="@{/assets/images/features/ic_gnewspro_digitalclipping.png}"/>
                      </div>
                      <div class="col-sm-7 col-xs-8 feature-detail">
                        <div class="tableview h-150">
                          <div class="verticalcenter">
                            <h3>Marketing Email</h3>
                            <p class="faded-text font-light">Identify patterns of content engagement, then we help you identify the targeted client behaviour afterwards.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 hidden-xs hidden-xx">
                        <div class="row">
                          <a href="#" class="btn-feature btn-block">View</a>
                        </div>
                        <div class="row">
                          <a href="#" class="btn-feature btn-block">Create</a>
                        </div>
                      </div>
                    </div>
                    <div class="row feature-cell hidden-sm hidden-lg">
                    	<div class="col-xs-6 b-r p-0">
	                        <a href="#" class="btn-feature btn-block">View</a>
	                    </div>
	                    <div class="col-xs-6 p-0">
	                    	<a href="#" class="btn-feature btn-block">Create</a>
	                    </div>
	                    <hr/>
                    </div>

                    <div class="row feature-row">
                      <div class="col-sm-2 col-xs-4">
                        <img class="feature-icon" th:src="@{/assets/images/features/ic_gnewspro_digitalclipping.png}"/>
                      </div>
                      <div class="col-sm-7 col-xs-8 feature-detail">
                        <div class="tableview h-150">
                          <div class="verticalcenter">
                            <h3>GNEWSLetter</h3>
                            <p class="faded-text font-light">Customize the daily news briefs to your topic and get it delivered at your preference time.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 hidden-xs hidden-xx">
                        <div class="row">
                          <a href="#" class="btn-feature btn-block">View</a>
                        </div>
                        <div class="row">
                          <a href="#" class="btn-feature btn-block">Create</a>
                        </div>
                      </div>
                    </div>
                    <div class="row feature-cell hidden-sm hidden-lg">
                    	<div class="col-xs-6 b-r p-0">
	                        <a href="#" class="btn-feature btn-block">View</a>
	                    </div>
	                    <div class="col-xs-6 p-0">
	                    	<a href="#" class="btn-feature btn-block">Create</a>
	                    </div>
	                    <hr/>
                    </div>


                  </div>

                  <div class="col-sm-3 hidden-xx hidden-xs">
                    <h4 class="page-title">Activities</h4>
                    <hr class="m-b-0" />

                    <div class="row activity-detail">
                      <div class="col-sm-2">
                        <div class="small-avatar">IF</div>
                      </div>
                      <div class="col-sm-10 m-t-5 m-b-5">
                        <p class="m-0"><a href="#">Irfan Firdaus</a> create a new project in Digital Clipping</p>
                        <div class="row">
                          <div class="col-xs-1">
                            <i class="glyphicon glyphicon-time"></i>
                          </div>
                          <div class="col-xs-9">
                            <span class="faded-text">06/08/2016 10:32</span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>

            <div class="row">
              <footer class="footer">
                PT. GNEWS MANDIRI TEKNOLOGI<br/>
                <a href="#">GNEWS Pro</a> is a product of <a href="#">GNEWS.ID</a><br/>
                2016. All right reserved.
              </footer>
            </div>

        </div>



        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/detect.js}"></script>
        <script th:src="@{/assets/js/fastclick.js}"></script>

        <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/wow.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>

        <script th:src="@{/assets/plugins/peity/jquery.peity.min.js}"></script>

        <script th:src="@{/assets/plugins/morris/morris.min.js}"></script>
        <script th:src="@{/assets/plugins/raphael/raphael-min.js}"></script>
        <script th:src="@{/assets/pages/jquery.dashboard.js}"></script>

        <script th:src="@{/assets/js/jquery.core.js}"></script>
        <script th:src="@{/assets/js/jquery.app.js}"></script>

        <script type="text/javascript">
            jQuery(document).ready(function($) {

                // $('.counter').counterUp({
                //     delay: 100,
                //     time: 1200
                // });
                //
                // $('.input-daterange-datepicker').daterangepicker({
                //     buttonClasses: ['btn', 'btn-sm'],
                //     applyClass: 'btn-default',
                //     cancelClass: 'btn-white'
                // });
            });
        </script>




    </body>
</html>
