@import "variables.less";

html{
	background: @bg-default !important;
}

body{
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background: @bg-default !important;
	color: @text-default !important;
}

/*Top nav*/
#mc.navbar-default{
	background-color: @white;
	border-bottom: @border-default;
}
a.nav-menu{
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 400;
	line-height: 60px;
	margin: 8px 10px;
	cursor: pointer;
	color: @text-default;
}
a.nav-menu:hover{
	color: @custom2 !important;
}
p.user-detail{
	color: @text-default;
	font-size: 13px;
	text-align:right;
	margin-top: 6px;
}

/*Side Nav*/
.menu-title, #sidebar-menu > ul > li > a, #sidebar-menu > ul > li > a:hover{
	color: @text-default;
}
.project-title{
	color: @custom;
	font-size: 1.4em;
	padding: 12px 18px !important;
	letter-spacing: .035em;
}
#sidebar-menu > ul > li > a{
	border-bottom: @border-default;
	padding: 15px 20px !important;
  	margin: 0 !important;
}
#sidebar-menu li.first{
	border-top: @border-default;
}
#sidebar-menu .subdrop{
	background: @grey2 !important;
  	border-left: none;
  	color: @custom !important;
}

/*Project-header*/
.keyword-wrapper{
	border-left: 10px solid @grey2;
	padding: 0 0 6px 15px;
	margin: 0 0 0 10px !important;
	h3{
	color: @custom;
  	font-weight: 500;
  	font-size: 25px;
	}
	h4{
	line-height: 17px;
	font-weight: 300;
	}
}
.keyword-title{
	padding: 0;
}
.counter-wrapper .row{
	float: right;
  	margin-right: -73px;
}
.total-wrapper{
	background: @white;
  	padding-right: 0px !important;
  	border: 1px solid #DFDFDF;
  	width: 150px;
  	h2{
  	font-size: 27px;
  	line-height: 27px;
  	}
  	h4{
    font-weight: 300;
    }
}
.total-news {
    border-left: 10px solid #60CEF8;
    margin-right: 10px;
}
.total-media {
    border-left: 10px solid #52D2B7;
}

/*Navbar inner*/
#text-white(){
	color: #fff!important;
}
.tab-nav .nav {
	margin: 24px auto;
  	position: relative;
    background-color: #d1e3ea;
}
.tab-nav.nav-custom .nav li a {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    line-height: 24px;
}
.tab-nav .nav > li.active > a,
.tab-nav .nav > li.active > .a {
    background-color: #2196f3;
    color: #fff!important;
}
.tab-nav .nav > li.active > a:hover,
.tab-nav .nav > li.active > .a:hover {
    a:hover{
    #text-white
    }
    .a:hover{
    #text-white
    }
}
.tab-nav .nav > li > {
	a{
	#text-white
	}
	.a{
	#text-white
	}
}
#tab-hover(){
	border-bottom-color: #2196f3!important;
    background-color: #2196f3;
}
.tab-nav .nav > li > {
	a:hover{
	#tab-hover
	}
	.a:hover{
	#tab-hover
	}
}
.tab-nav .nav > li > {
    a:focus{
    #text-white
    }
    .a:focus{
    #text-white
    }
}

.collapse-menu{
	float: right;
	margin-right: 20px;
}

//Content Head section
.content-header{
  h1{
  	font-size: 1.5em;
  	font-weight: 300;
  }
}

//Card-box
.card-box{
	width: 100%;
	padding: 20px;
	border: 1px solid #e1e1e1;
}
.card-grey{
	background: @bg-darker !important;
}
.news-header{
	background: @white;
	height: 30px !important;
	margin-bottom: 10px;
	padding-left: 20px;
	line-height: 27px;
}

//News panel/card
#news-card a{
	color: @text-default;
}
#news-card .panel-heading{
	background-color: @white !important;
	border-bottom: @border-card !important;
	color: @text-default !important;
}
.panel-news{
	padding: 11px !important;
}
.panel-action{
	border-top: @border-card;
	li a{
	line-height: 24px;
	}
	i{
	color: @text-default;
	&:hover{
	color: @custom2;
	}
	}
}


.starter-page{
	display: table;
	padding: 20px;
}
.instruction-page{
	display: table-cell;
	vertical-align: middle;
}

//General
.vertical-center{
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.radiusless{
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.h-80{
	min-height: 80vh !important;
}
.thin{
	font-weight: 300;
}
.thick{
	font-weight: 500;
}
.icon-small{
	font-size: @small-icon;
}
.icon-medium{
  font-size: @medium-icon;
}
.icon-big{
  font-size: @big-icon;
}
.bg-grey2{
	background: @grey2;
}
.text-grey{
	color: @grey1;
}

//Custom margin
.m-r-20{
	margin-right: 20px;
}

//Picture
.avatar img{
	border-radius: 50%;
	height: 100%;
	width: 100%;
	vertical-align: top;
}
