@import "variables.less";

// General element
a{
  color: @link-default;
  &:focus, &:hover{
    color: @link-default;
  }
}
.main-wrapper{
  margin-top: 60px;
  margin-bottom: 50px;
}
.h-150{
  height: 150px;
}
.p-b-3{
  padding-bottom: 3px;
}
.b-r{
  border-right: @border-default;
}
.radiusless{
  border-radius: 0 !important;
}
.color-media{
  background: @medias !important;
}
.color-news{
  background: @news !important;
}
.avatar(@size: 27px){
  border-radius: 3px;
  background: @link-default;
  color: @white;
  text-align: center;
  vertical-align: middle;

  width: @size;
  height: @size;
  line-height: @size;
}
.small-avatar{
  .avatar;
  margin: 8px auto;
}
.big-avatar{
  .avatar(40px)
}

.icon-dark{
  color: @primary-text;
}
.icon-small{
	font-size: @small-icon;
}
.icon-medium{
  font-size: @medium-icon;
}
.icon-big{
  font-size: @big-icon;
}
.tableview{
  display: table;
}
.verticalcenter{
  display: table-cell;
  vertical-align: middle;
}
.faded-text{
  color: @secondary-text;
}
.btn-feature{
  background: @white;
  color: @link-default;
  letter-spacing: 0.05em;
  width: 100%;
  text-align: center;
  height: 75px;
  line-height: 75px;
  &:hover{
    background: @link-default;
    color: @white;
  }
  &:focus{
    color: @white;
  }
}

// Top Navbar
.navbar{
  min-height: 43px !important;
}
.nav > li{
  border-left: @border-default;
}
.navbar-nav.pull-left > li:last-child {
  border-right: @border-default
}
.nav-menu{
  margin: 10px auto;
}
.notif-greet{
  margin-top: 5px;
  h5{
    margin: 0;
  }
}
.dropdown-menu-md {
  width: 180px;
  .list-group {
    margin-bottom: 0px;
  }
  .list-group-item {
    border: none;
    padding: 5px 10px;
  }
  .media-heading {
    margin-bottom: 0px;
  }
  .media-body {
    p {
      color: #828282;
    }
  }
}
.dropdown-footer{
  border-top: @border-default;
}

// Dashboard page
.dashboard-page > .content{
  margin-right: 280px;
  overflow: hidden;
}
.dashboard-page > .content {
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 20px 5px 15px 5px;
}
.dashboard-head{
  background: @light;
  border-top: @border-default;
  border-bottom: @border-default;
  padding: 0 20px;
  margin: 10px auto 0;
}
.activity-page{
  width: 240px;
  overflow: hidden;
}
.feature-icon{
  height: 120px;
  border-radius: 10%;
  margin: 10px;
}
.feature-row{
  border-bottom: @border-default;
  margin: 5px auto;
  padding-bottom: 5px;
}
.feature-detail{
  border-right: @border-default;
  p{
    letter-spacing: 0.03em;
  }
}
.activity-detail{
  margin: 5px 10px;
  p{
    line-height: 1.3;
    font-size: 0.9em;
  }
  span{
    font-size: 12px;
    margin-left: 10px;
  }
}

// Project page
.table-wrapper{
  margin: 20px auto;
}

.project-detail{
  h5{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Media analysis styling
#ma-control{
  .btn{
    // padding: 5px 12px;
  }
  .form-control{
    // height: 30px;
  }
}
.card-box{
  width: @width;
  padding: 15px;
  border: 1px solid #e1e1e1;
}
.card-grey{
  background: #e1e1e1 !important;
}
.news-header{
  height: 30px;
  margin-bottom: 10px;
  line-height: 27px;
}

//News panel/card
#news-card a{
	color: @text-default;
}
#news-card .panel-heading{
	background-color: @white !important;
	border-bottom: @border-card !important;
	color: @text-default !important;
}
.panel-news{
	padding: 11px !important;
}
.panel-action{
	border-top: @border-card;
	li a{
	line-height: 24px;
	}
	i{
	color: @text-default;
	&:hover{
	color: @custom2;
	}
	}
}


// Large Devices, Wide Screens
@media only screen and (min-width: 1200px){

}

// Medium Devices, Desktops
@media only screen and (min-width: 992px){

}

// Tablet view
@media only screen and (min-width: 768px) and (max-width: 992px){

}

// Mobile view
@media only screen and (min-width: 320px) and (max-width: 767px){
  .nav-mobile{
    text-align: left;
  }
  .nav > li{
    display: inline-block;
    border-left: none;
    &:first-child{
      border-right: @border-default;
      padding: 10px 20px 10px 10px;
    }
  }
  .page-title{
    font-size: 18px;
  }
  .feature-icon{
    height: 60px;
  }
  .feature-detail{
    border-right: none;
  }
  .feature-row{
    border-bottom: none;
  }
  .feature-cell{
    border-bottom: @border-default;
    padding-bottom: 10px;
  }
}
