<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="analytics-sidebar">
			<nav aria-hidden="true" class="menu menu-left" id="profile" tabindex="-1">
				<div class="menu-scroll">
					<div class="menu-top">
					</div>
					<div class="menu-content">
						<ul class="nav">
							<li>
								<a class="waves-attach" th:href="@{/analytics/terms/}+${id}+@{/}+${name}+@{?start=}+${start}+@{&amp;end=}+${end}"><span class="icon icon-lg">comment</span>Keyword Mapping</a>
							</li>
							<li>
								<a class="waves-attach" th:href="@{/analytics/top10/}+${id}+@{/}+${name}+@{?start=}+${start}+@{&amp;end=}+${end}"><span class="icon icon-lg">assessment</span>Top 10 Media</a>
							</li>
							<li>
								<a class="waves-attach" th:href="@{/analytics/sentiment/}+${id}+@{/}+${name}+@{?start=}+${start}+@{&amp;end=}+${end}"><span class="icon icon-lg">exposure</span>Sentiment</a>
							</li>
							<li>
								<a class="waves-attach" th:href="@{/analytics/media-mapping/}+${id}+@{/}+${name}+@{?start=}+${start}+@{&amp;end=}+${end}"><span class="icon icon-lg">chrome_reader_mode</span>Media Mapping</a>
							</li>
							<li>
								<a class="waves-attach" th:href="@{/analytics/peaktime/}+${id}+@{/}+${name}+@{?start=}+${start}+@{&amp;end=}+${end}"><span class="icon icon-lg">graphic_eq</span>Periodic Time</a>
							</li>
							<li>
								<a class="waves-attach" href="javascript:void(0)"><span class="icon icon-lg">settings</span>Settings</a>
							</li>
							<li>
								<a class="waves-attach" th:href="@{/logout}"><span class="icon icon-lg">exit_to_app</span>Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</body>
</html>