<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="analytics-navbar-inner">
		<nav class="tab-nav nav-custom hidden-xs hidden-xx">
			<ul class="nav nav-justified">
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'keyword-mapping') ? 'active':''}">
					<a class="waves-attach" 
					th:href="@{/project/}+${id}+@{/dashboard/keyword-mapping}+@{?start=}+${start}+@{&amp;end=}+${end}">
					Keyword mapping</a></li>
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'top-media') ? 'active':''}">
					<a class="waves-attach" 
					th:href="@{/project/}+${id}+@{/dashboard/top-media}+@{?start=}+${start}+@{&amp;end=}+${end}">
					Top media</a></li>
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'sentiment') ? 'active':''}">
					<a class="waves-attach"
					th:href="@{/project/}+${id}+@{/dashboard/sentiment}+@{?start=}+${start}+@{&amp;end=}+${end}">
					Sentiment</a>
				</li>
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'media-mapping') ? 'active':''}">
					<a class="waves-attach" 
					th:href="@{/project/}+${id}+@{/dashboard/media-mapping}+@{?start=}+${start}+@{&amp;end=}+${end}">
					Media reputation</a></li>
				<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'peaktime') ? 'active':''}">
					<a class="waves-attach"
					th:href="@{/project/}+${id}+@{/dashboard/peaktime}+@{?start=}+${start}+@{&amp;end=}+${end}">
					Periodic time</a></li>
			</ul>
		</nav>
	</div>
</body>
</html>