<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="analytics-sidebar">
			<nav aria-hidden="true" class="menu menu-left" id="profile" tabindex="-1">
				<div class="menu-scroll">
					<div class="menu-top">
						<div class="menu-top-img">
							<img alt="John Smith" th:src="@{/resource/analytics/images/samples/landscape.jpg}"/>
						</div>
						<div class="menu-top-info">
							<span class="avatar pull-left">
								<img alt="gnews" th:src="${profilepicture} == null ? @{/resource/images/avatar_1.png} : @{/images/uploads/}+${profilepicture}"/>
							</span>
							<a class="menu-top-user" href="javascript:void(0)" style="margin-top: 20px;">
								<span th:text="${#strings.arraySplit(fullname,' ')[0]}"></span>
							</a>
						</div>
					</div>
					<div class="menu-content">
						<ul class="nav">
							<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'keyword-mapping') ? 'active':''}">
								<a class="waves-attach" 
								th:href="@{/project/}+${id}+@{/keyword-mapping}+@{?start=}+${start}+@{&amp;end=}+${end}">
								Keyword Mapping</a></li>
							<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'top-media') ? 'active':''}">
								<a class="waves-attach" 
								th:href="@{/project/}+${id}+@{/top-media}+@{?start=}+${start}+@{&amp;end=}+${end}">
								Top Media</a></li>
							<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'sentiment') ? 'active':''}">
								<a class="waves-attach"
								th:href="@{/project/}+${id}+@{/sentiment}+@{?start=}+${start}+@{&amp;end=}+${end}">
								Sentiment</a>
							</li>
							<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'media-mapping') ? 'active':''}">
								<a class="waves-attach" 
								th:href="@{/project/}+${id}+@{/media-mapping}+@{?start=}+${start}+@{&amp;end=}+${end}">
								Media Mapping</a></li>
							<li th:class="${#strings.contains(#httpServletRequest.getRequestURI(), 'peaktime') ? 'active':''}">
								<a class="waves-attach"
								th:href="@{/project/}+${id}+@{/peaktime}+@{?start=}+${start}+@{&amp;end=}+${end}">
								Periodic Time</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</body>
</html>