<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>GNEWS - Social News Reader</title>
</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0"
	marginwidth="0"
	style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; font-family: Helvetica; margin: 0; padding: 0;">

	<table cellspacing="0" cellpadding="0" border="0" bgcolor="#f9f9f9"
		style="width: 100%;" align="center">
		<tr>
			<td></td>
			<td>

				<div class="content"
					style="max-width: 600px; margin: 0 auto; display: block;">
					<table bgcolor="#34495e" class="" style="width: 100%;">
						<tr>
							<td style="padding: 0 15px;"><img
								src="http://gdilab.com/images/lo_gnews_header.png" /></td>
							<td style="padding: 0 15px;" align="right"><h3
									class="collapse"
									style="font-weight: bold; color: #00b8e6; font-size: 22px;">Mail
									Digest</h3></td>
						</tr>
					</table>
				</div>

			</td>
			<td></td>
		</tr>
	</table>

	<table cellspacing="0" cellpadding="0" border="0"
		style="width: 100%; margin: 0; padding: 0; background-color: #f9f9f9"
		align="center">
		<tr>
			<td></td>
			<td bgcolor="#f9f9f9" style="margin: 0; padding: 0;">
				<!-- content -->
				<div
					style="max-width: 600px; display: block; margin: 0 auto !important;">
					<table cellspacing="0" cellpadding="0" border="0"
						style="margin: 0 auto; width: 100%;" align="center" bgcolor="#fff">
						<tr>
							<td>
								<table>
									<tr>
										<td style="padding: 15px 0 2px 15px; color: #4a4a4a;">
											News about <strong th:text="${keyword}">Prabowo</strong>
										</td>
									</tr>
									<tr>
										<td style="padding: 0 0 15px 15px; color: #4a4a4a;"><span
											th:text="${period}">From Wed 15/07/2014 to Fri
												24/09/2014</span></td>
									</tr>
								</table>
							</td>
							<td align="center">
								<table>
									<tr>
										<td><a href="#"> <img
												src="http://gdilab.com/images/bt_download.png" />
										</a></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table cellspacing="0" cellpadding="0" border="0"
						style="margin: 0 auto; width: 100%;" align="center" bgcolor="#fff">
						<tr>
							<td>
								<hr
									style="width: 100%; height: 2px; border: none; background-color: #ededed; margin-bottom: 16px;" />
							</td>
						</tr>
					</table>
				</div>
				<!-- /content --> <!-- COLUMN WRAP -->
				<div
					style="background-color: #fff; padding: 0 !important; margin: 0 auto; max-width: 600px !important;">
					<div style="width: auto; float: left;">
						<table align="left" style="width: 100%;">
							<tr th:each="article : ${articles}">
								<td
									style="padding: 0 15px; color: #9b9b9b; line-height: 1.6; font-size: 18px;">
									<div>
										<h5 style="margin-top: 8px; margin-bottom: 0; color: #4a4a4a; line-height: 1.2;" >
											<a href="#" th:href="${article.url}" target="_blank" style="text-decoration: none;" th:text="${article.title}" ></a>
										</h5>
										<p style="margin: 0; font-size: 14px;">
											<a href="#" target="_blank"
												style="text-decoration: none; color: #9b9b9b;"
												th:text="${article.host}">www.kaskus.co.id</a> <span
												th:text="${#dates.format(article.date,'dd MMMM yyyy')}">
												15-02-2014 09.00 </span>
										</p>
									</div>

								</td>
							</tr>

						</table>
					</div>

					<table cellspacing="0" cellpadding="0" border="0"
						style="margin: 0 auto; width: 100%;" align="center">
						<tr>
							<td>
								<hr
									style="width: 100%; height: 2px; border: none; background-color: #ededed; margin-top: 16px;" />
							</td>
						</tr>
					</table>

					<table cellspacing="0" cellpadding="0" border="0"
						style="margin: 0 auto; width: 100%;" align="center">
						<tr>
							<td>
								<p style="text-align: center;">
									<a href="#"> <img
										src="http://gdilab.com/images/bt_download.png" />
									</a>
								</p>
								<p style="text-align: center;">
									<span style="color: #9b9b9b;">Get GNEWS app</span>
								</p>
							</td>
						</tr>
					</table>

					<table cellspacing="0" cellpadding="0" border="0"
						style="width: 100%; height: 55px;" align="center">
						<tr>
							<td style="width: 100%; text-align: center;"><a
								href="https://play.google.com/store/apps/details?id=com.gdilab.gnews"
								style=""><img src="http://gdilab.com/images/play-store.png"
									style="width: 25%; margin-right: 10px;" /></a> <a
								href="https://appsto.re/id/0XEt5.i" style=""><img
									src="http://gdilab.com/images/app-store.png"
									style="width: 25%;" /></a></td>
						</tr>
					</table>

					<table cellspacing="0" cellpadding="0" border="0"
						style="margin: 0 auto; width: 100%;" align="center">
						<tr>
							<td>
								<hr
									style="width: 100%; height: 2px; border: none; background-color: #8e8e91; margin-top: 16px;" />
							</td>
						</tr>
					</table>

					<table cellspacing="0" cellpadding="0" border="0"
						style="margin: 4px auto; width: 100%;">
						<tr>
							<td>
								<p style="text-align: center; font-size: 10px; color: #9b9b9b;">
									This email was sent by GNEWS<br /> JL. Kemang Selatan IX No. 1B
									Jakarta 12730, Indonesia<br /> +62 21 7179 6431 - info@gnews.io<br />
									@gnewsapp | www.gnews.io
								</p>
							</td>
						</tr>
					</table>

					<div class="clear"></div>

				</div>
				<!-- /COLUMN WRAP -->

			</td>
			<td></td>
		</tr>
	</table>

</body>
</html>