<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="initial-scale=1.0, width=device-width" name="viewport" />
<link rel="icon" th:href="@{/resource/images/favicon.png}" />
<title>GNEWS Analytics - Social Media News</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'/>

<!-- ie -->
<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
<style>
body {
	background-color: #fff !important;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
}

table
{
    table-layout: fixed;
}

.container {
	max-width: 1200px;
	width: initial;
}

.col-sm-6 {
	position: relative;
}

.content-inner {
	margin: 10px auto;
}

.card {
	background-color: #fff;
	border: 1px solid #e1e1e1;
}

#mediaContentPositive, #mediaContentNegative {
	overflow-y: hidden;
	overflow-x: hidden;
	max-height: 680px;
}

.card.noshadow {
	width: 100%;
	height: inherit;
	display: block;
}

#tab-keyword .card-inner {
	margin: 12px 16px !important
}

#head-progress h4 {
	margin-top: 20px;
	margin-bottom: 2px;
	font-weight: bold;
}

#head-progress .mediaTitleBox h4 {
	margin-top: 0px;
	font-size: 18px;
	font-weight: 400;
	color: #4a4a4a;
}

#head-progress .mediaMapping-text {
	color: #9d9d9d;
	font-size: 14px;
}

#mediaMapping-row {
	padding: 5px 25px;
}

#mediaMapping-row .progress {
	height: 17px;
	margin: 0;
	background-color: #dfdfdf;
	width: 100%;
}

#mediaMapping-row .progress span {
	float: right;
}
.mediaTitleBox{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 1px #dfdfdf; 
	padding: 0 30px;
}
</style>
</head>
<body th:inline="text">
	<table style="border: none; width: 1000px;">
		<tr>
			<td width="50%" style="vertical-align: top;">
				<table class="mediaTitleBox">
					<tr>
						<td width="50%">
							<h4 style="margin: 0px;">Media</h4>
						</td>
						<td width="50%" style="float: right;"><b>Positive</b>&nbsp; 
						<a style="padding: 0px 4px; background-color: #0f94f6; color: #0f94f6; border-radius: 50%;">o</a>
						</td>
					</tr>
				</table>
				<div style="padding: 0 30px;">
					<div id="mediaMapping-row" class="row"
						th:each="positive : ${positiveMedia}">
						<table>
							<tr>
								<td style="width: 55%;table-layout:fixed; color: black; font-weight: bold;font-size: 16px;">[[${positive.domain}]]</td>
								<div th:if="${#strings.length(positive.countryName)} > 0">
									<td style="width: 5%;text-align: right;"><img th:src="@{/resource/analytics/images/flags/}+${positive.countryName}+@{.png}" style="margin-right: 3px;"/></td>
									<td style="width: 19%;text-align:left;">[[${positive.countryRank}]]</td>
								</div>
								<div th:if="${#strings.length(positive.countryName)} == 0">
									<td style="width: 25%;text-align:left;"></td>
								</div>	
								<div>
									<td style="width: 5%;text-align: right;"><img th:src="@{/resource/analytics/images/ic_alexa_globe.jpg}" style="margin-right: 2px;" /></td>
									<td style="width: 15%;text-align:left;">[[${positive.globalRank}]]</td>
								</div>
							</tr>
						</table>
						<div class="col-xs-12 no-padding">
							<div class="progress">
								<span style="font-size: 12px;">[[${positive.value}]] ([[${#numbers.formatDecimal((positive.value * 100.0) / articleCount ,0,2)}]])</span>
								<div class="progress-bar" th:with="result = ${positive.value * mediaCount}"
									style="background-color: #2391fe; height: 17px;" th:styleappend="'width: ' + ${(positive.value * 100) / articleCount} + '%'"></div>
							</div>
						</div>
					</div>
				</div>
			</td>
			<td width="50%" style="vertical-align: top;">
				<table class="mediaTitleBox">
					<tr>
						<td width="50%">
							<h4 style="margin: 0px;">Media</h4>
						</td>
						<td width="50%" style="float: right;"><b>Negative</b>
						<a style="padding: 0px 4px; background-color: #f72a2a; color: #f72a2a; border-radius: 50%;">o</a>
						</td>
					</tr>
				</table>
				<div style="padding: 0 30px;">
					<div id="mediaMapping-row" class="row"
						th:each="negative : ${negativeMedia}">
						<table>
							<tr>
								<td style="width: 55%;table-layout:fixed; color: black; font-weight: bold;font-size: 16px;">[[${negative.domain}]]</td>
								<div th:if="${#strings.length(negative.countryName)} > 0">
									<td style="width: 5%;text-align: right;"><img th:src="@{/resource/analytics/images/flags/}+${negative.countryName}+@{.png}" style="margin-right: 3px;"/></td>
									<td style="width: 19%;text-align:left;">[[${negative.countryRank}]]</td>
								</div>
								<div th:if="${#strings.length(negative.countryName)} == 0">
									<td style="width: 25%;text-align:left;">N/A</td>
								</div>	
								<div>
									<td style="width: 5%;text-align: right;"><img th:src="@{/resource/analytics/images/ic_alexa_globe.jpg}" style="margin-right: 2px;" /></td>
									<td style="width: 15%;text-align:left;">[[${negative.globalRank}]]</td>
								</div>
							</tr>
						</table>
						<div class="col-xs-12 no-padding">
							<div class="progress">
								<span style="font-size: 12px;">[[${negative.value}]] ([[${#numbers.formatDecimal((negative.value * 100.0) / articleCount ,0,2)}]])</span>
								<div class="progress-bar"
									style="background-color: #f72a2a; height: 17px;" th:styleappend="'width: ' + ${(negative.value * 100) / articleCount} + '%'"></div>								
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>